<div>
    <md-autocomplete md-items="result in lookUp(searchText)" md-search-text="searchText" md-search-text-change="" md-selected-item="selectedItem" md-selected-item-change="onSelection(selectedItem)" placeholder="Search...">
        <md-item-template>
            <div layout="row" layout-align="start center">
                <!-- Depending on the type of result, show the right icon -->
                <span layout-margin>
                    <i ng-if="result.type == 'project'" class="fa fa-rocket baseColor fa-icon-size"></i>
                    <md-icon ng-if="result.type == 'challenge'" class="top-bar-icon-svg no-margin" md-svg-src="/images/svg/challenges.svg"></md-icon>
                    <md-icon ng-if="result.type == 'idea'" class="top-bar-icon-svg no-margin" md-svg-src="/images/svg/ideas.svg"></md-icon>
                    <i ng-if="result.type == 'tag'" class="fa fa-tag baseColor fa-icon-size"></i>
                    <i ng-if="result.type == 'user'" class="fa fa-user baseColor fa-icon-size"></i>
                </span>

                <img ng-if="result.type != 'idea'" ng-src="{{ result.poster || '/images/placeholder25x25.png' }}" layout-margin class="search-poster">

                <span md-highlight-text="searchText" layout-margin>{{ result.title || result.username }}</span>
            </div>
        </md-item-template>
        <md-not-found>
            No matches found.
        </md-not-found>
    </md-autocomplete>
</div>
