.participate-btn{
  padding-top: 30px;
  padding-bottom: 30px;
  margin:auto;
}

.chat-container{
  margin-top:30px;
}

.chat-zone{
  background-color: white;
  height:350px;
  overflow:auto;
}

.challenge-home{
  background-color:rgb(240,241,241);
  section{
    .html-content{
      min-height:400px; border-right:solid 1px black;margin-top:30px;
    }
  }
}

.home-header {
  position:relative;
  background-color: rgb(0, 51, 102);
  color: white; 
} 

.note-info {
  font-style: italic;
}
