.tabs-view {
  position: absolute;
  top: 149px;
  bottom: 0;
  right: 0;
  left: 0;
  animation-duration: 0.35s;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-timing-function: ease-in-out;
}
.tabs-view.ng-enter {
  animation-name: slideFromRight;
  -webkit-animation-name: slideFromRight;
}
.tabs-view.reverse.ng-enter {
  animation-name: slideFromLeft;
  -webkit-animation-name: slideFromLeft;
}
.tabs-view.ng-leave {
  animation-name: slideToLeft;
  -webkit-animation-name: slideToLeft;
}
.tabs-view.reverse.ng-leave {
  animation-name: slideToRight;
  -webkit-animation-name: slideToRight;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes slideToRight {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
@-webkit-keyframes slideToLeft {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
[ui-view="mainView"].ng-enter {
  -webkit-animation: fadeInRight 0.5s;
  animation: fadeInRight 0.5s;
}
[ui-view="mainView"].ng-leave {
  -webkit-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s;
}
[ui-view="messageView"].ng-enter {
  -webkit-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s;
}
[ui-view="challengeView"].ng-enter,
[ui-view="projectView"].ng-enter,
[ui-view="profileView"].ng-enter {
  -webkit-animation: slideInRight 0.5s;
  animation: slideInRight 0.5s;
}
.tag-list.ng-leave {
  -webkit-animation: flipOutX 1s;
  animation: flipOutX 1s;
}
.tag-list.ng-enter {
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}
.tag-detail.ng-enter {
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}
.tag-detail.ng-leave {
  -webkit-animation: flipOutX 1s;
  animation: flipOutX 1s;
}
.edit-anim.ng-enter {
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}
.forgot-pass {
  color: black;
}
.forgot-pass.ng-enter {
  -webkit-animation: bounceInUp 0.7s;
  animation: bounceInUp 0.7s;
}
.forgot-pass.ng-leave {
  -webkit-animation: bounceOutDown 0.7s;
  animation: bounceOutDown 0.7s;
}
.filter-input input {
  border-radius: 5px;
}
.filter-input.ng-enter {
  -webkit-animation: rollIn 0.5s;
  animation: rollIn 0.5s;
}
.filter-input.ng-leave {
  -webkit-animation: flipOutX 0.5s;
  animation: flipOutX 0.5s;
}
