[ui-view="mainView"].ng-enter {
  -webkit-animation: fadeInRight 0.5s;
  animation: fadeInRight 0.5s;
}
[ui-view="mainView"].ng-leave {
  -webkit-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s;
}
[ui-view="messageView"].ng-enter,
[ui-view="profileView"].ng-enter {
  -webkit-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s;
}
[ui-view="challengeView"].ng-enter {
  -webkit-animation: slideInRight 0.5s;
  animation: slideInRight 0.5s;
}
.tag-list.ng-leave {
  -webkit-animation: flipOutX 1s;
  animation: flipOutX 1s;
}
.tag-list.ng-enter {
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}
.tag-detail.ng-enter {
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s;
}
.tag-detail.ng-leave {
  -webkit-animation: flipOutX 1s;
  animation: flipOutX 1s;
}
.panel-animated {
  border: none;
}
.panel-animated .panel-body.ng-enter {
  -webkit-animation: flipInX 0.5s;
  animation: flipInX 0.5s;
}
.panel-animated .panel-body.ng-leave {
  -webkit-animation: flipOutX 0.5s;
  animation: flipOutX 0.5s;
}
.edit-menu.ng-enter {
  -webkit-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s;
}
.filter-input input {
  border-radius: 5px;
}
.filter-input.ng-enter {
  -webkit-animation: rollIn 0.5s;
  animation: rollIn 0.5s;
}
.filter-input.ng-leave {
  -webkit-animation: flipOutX 0.5s;
  animation: flipOutX 0.5s;
}
