@import "variables";

body{
  font-family: 'Abel', sans-serif;
}

textarea{
  resize: none;
}

.map-wrapper{
  width: 500px;
  height: 300px;
  border-radius: 500px;
  overflow: hidden;
//  position: absolute; /* this breaks the overflow:hidden in Chrome/Opera */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.wrapper{
  height: 100%;
}

[ui-view]{
  height: 100%;
//  padding-bottom : 150px;
}

footer{
  margin-top: 40px;
  background-color : @footerBg;
  position : fixed;
  bottom : 0;
  left : 0;
  right : 0;
  width : 100% !important;
  margin-left :0;
  margin-right: 0;
  a {
    color:#ccc;
  }
  p {
    color:#999;
  }
}

.tag{
  cursor:pointer;
  font-size: 1.1em;
}

.my-opacity{
   -webkit-transition: opacity @opacityTiming;
   -moz-transition: opacity @opacityTiming;
   -ms-transition: opacity @opacityTiming;
   -o-transition: opacity @opacityTiming;
   transition: opacity @opacityTiming;
   opacity : @opacityIndex;
}

.my-opacity:hover{
  opacity : @opacityIndexHover;
}

.menu-project{
  position : fixed;
  top : 50px;
  right : 50px;
  z-index : 1;
}

.my-btn{
  z-index: 20;
  cursor:pointer;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  display: inline-block;
  height: 40px;


  //  position: absolute;
  -webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
//  &.ng-enter{
//    -webkit-animation : fadeInDown 0.5s;
//    animation : fadeInDown 0.5s;
//  }
  &:active{
    transform : scale(1.3);
    -webkit-transform : scale(1.3);
  }
  &.ng-leave{
//    -webkit-animation : fadeInUp 0.5s;
//    animation : fadeInUp 0.5s;
    visibility: hidden;
  }
  &.active{
    border: 1px solid black;
    border-radius: 50%;

  }
  &.my-btn-picture{
    top : 10px;
    right: 10px;
  }
  &:hover{
    color : #6c7e6d;
  }
}

.modal-tansparent{
  background-color: transparent;
  border : none;
  box-shadow: none;
}

.img-rounded{
  border-radius : 50%;
//  border : solid 1px black;
//  background-color : white;
//  padding : 5px;
}
