.d3-tag {
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}
.d3-tag:hover {
  font-size: 3.5em !important;
}
.node {
  stroke: #fff;
  stroke-width: 5px;
}
.link-user {
  stroke: #9ac674;
}
.link-project {
  stroke: #9ad5ff;
}
.link-challenge {
  stroke: #be964d;
}
.text-user {
  stroke: #9ac674;
  stroke-width: 0.5px;
}
.text-project {
  stroke: #9ad5ff;
  stroke-width: 0.5px;
}
.text-challenge {
  stroke: #be964d;
  stroke-width: 0.5px;
}
