/*-- helper css--*/
.dashed {
  border-bottom: 1px dashed #CCC;
}
.solid {
  border-bottom: 1px solid #ddd;
}
.bgwhite {
  background: white;
}
.hidden {
  display: none;
}
.border-solid {
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.centered {
  margin: 0 auto;
}
.center {
  text-align: center;
}
.inline {
  display: inline-block;
}
.clearfix :after {
  clear: both;
}
/* width */
.w {
  width: 100%;
}
.w9 {
  width: 90%;
}
/* height */
.h50 {
  height: 50px;
}
.h100 {
  height: 100px;
}
.h150 {
  height: 150px;
}
.h200 {
  height: 200px;
}
/* padding*/
.pad-left {
  padding-left: 50px;
}
.pan {
  padding: 0;
}
.pas {
  padding: 5px;
}
.prs,
.phs {
  padding-right: 5px;
}
.pls,
.phs {
  padding-left: 5px;
}
.pts,
.pvs {
  padding-top: 5px;
}
.pbs,
.pvs {
  padding-bottom: 5px;
}
.pam {
  padding: 10px;
}
.prm,
.phm {
  padding-right: 10px;
}
.plm,
.phm {
  padding-left: 10px;
}
.ptm,
.pvm {
  padding-top: 10px;
}
.pbm,
.pvm {
  padding-bottom: 10px;
}
.pal {
  padding: 20px;
}
.prl,
.phl {
  padding-right: 20px;
}
.pll,
.phl {
  padding-left: 20px;
}
.ptl,
.pvl {
  padding-top: 20px;
}
.pbl,
.pvl {
  padding-bottom: 20px;
}
/* margin*/
.man {
  margin: 0;
}
.mas {
  margin: 5px;
}
.mrs,
.mhs {
  margin-right: 5px;
}
.mls,
.mhs {
  margin-left: 5px;
}
.mts,
.mvs {
  margin-top: 5px;
}
.mbs,
.mvs {
  margin-bottom: 5px;
}
.mam {
  margin: 10px;
}
.mrm,
.mhm {
  margin-right: 10px;
}
.mlm,
.mhm {
  margin-left: 10px;
}
.mtm,
.mvm {
  margin-top: 10px;
}
.mbm,
.mvm {
  margin-bottom: 10px;
}
.mal {
  margin: 20px;
}
.mrl,
.mhl {
  margin-right: 20px;
}
.mll,
.mhl {
  margin-left: 20px;
}
.mtl,
.mvl {
  margin-top: 20px;
}
.mbl,
.mvl {
  margin-bottom: 20px;
}
/* border-radius*/
.brs {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.brm {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.brl {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
