@import "variables";

html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

material-card{
  height : 450px;
  background-color : white !important;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
.service-image {

  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#services {
  background-color: rgba(98,193,193,1);
  color: #ffffff;
}
#services .fa {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(../images/head.png) no-repeat center center fixed;
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

.home-map{
  .angular-google-map-container {
    height: 400px;
  }
}
.list-carousel-challenge{
//  -webkit-filter: blur(5px); -moz-filter: blur(5px); -ms-filter: blur(5px); -o-filter: blur(5px); filter: blur(5px);
  width : 100%;
  background-repeat: no-repeat;
  background-size: cover;
//  background-position: top left;
}


.carousel-body{
  height: 100%;
}

.carousel-brief{
  color : white;
  width:75%;
  margin:auto;
}

.rn-carousel-indicator{
  height: 50px !important;
//  z-index: 100;
  bottom : 20px;
  background-color: #357ebd;
}

.home-project-container{
  margin-top : 20px;
  margin-bottom: 20px;
}


.rn-carousel-container {
  height:100%;
}

.signin-form{
  input,span,label{
    width : 100%;
    color : black;
    border-color : black;
  }
  label{
    font-size : 1.2em;
  }
}

.signup-form{
  padding-bottom:30px;
  input{
    width : 100%;
  }
}

.signin-container{
  background: @backgroundForm;
  padding-left: 50px;
  padding-right : 50px;
}

.tags-container{
  background: @backgroundForm;
  padding: 25px;
}
footer{
  background-color : @footerBg;
  bottom : 0;
  left : 0;
  right : 0;
  width : 100% !important;
  margin-left :0;
  margin-right: 0;
  a {
    color:#ccc;
  }
  p {
    color:#999;
  }
}
