html,
body {
  height: 100%;
  width: 100%;
}
/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}
material-card {
  height: 450px;
  background-color: white !important;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
#services {
  background-color: #62c1c1;
  color: #ffffff;
}
#services .fa {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}
.list-carousel-challenge {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-body {
  height: 100%;
}
.carousel-brief {
  color: white;
  width: 75%;
  margin: auto;
}
.rn-carousel-indicator {
  height: 50px !important;
  bottom: 20px;
  background-color: #357ebd;
}
.home-project-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.rn-carousel-container {
  height: 100%;
}
.signin-form input,
.signin-form span,
.signin-form label {
  width: 100%;
  color: black;
  border-color: black;
}
.signin-form label {
  font-size: 1.2em;
}
.signup-form {
  padding-bottom: 30px;
}
.signup-form input {
  width: 100%;
}
.signin-container {
  background: rgba(240, 240, 241, 0.9);
  padding-left: 50px;
  padding-right: 50px;
}
.tags-container {
  background: rgba(240, 240, 241, 0.9);
  padding: 25px;
}
footer {
  background-color: #000000;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}
footer a {
  color: #ccc;
}
footer p {
  color: #999;
}
