<material-whiteframe class="material-whiteframe-z1" layout="vertical"  style="z-index: 19;">
    <material-toolbar layout="horizontal" layout-align="">
        <div layout layout-align="start center">
            <span flex>Want to publish something ?</span>
            <i class="fa fa-times fa-2x my-btn" ng-click="cancel()" block></i>
        </div>

    </material-toolbar>
    <form name="myTopicForm" layout="vertical">
        <ui-select ng-model="tf.type" theme="selectize" style="width: 100%;">
            <ui-select-match placeholder="Select the type of note you want write">
                <i class="fa fa-2x" ng-class="{'fa-comments' : $select.selected.id == 1,'fa-tasks' : $select.selected.id == 2, 'fa-flask' : $select.selected.id == 3,'fa-graduation-cap':$select.selected.id == 4 }"></i>
                {{$select.selected.title}}
            </ui-select-match>
            <ui-select-choices repeat="category in categories">
                <i class="fa fa-2x" ng-class="{'fa-comments' : category.id == 1,'fa-tasks' : category.id == 2, 'fa-flask' : category.id == 3,'fa-graduation-cap':category.id == 4 }"></i>
                <span ng-bind-html="category.title | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
        <material-input-group>
            <label for="title">Title</label>
            <material-input id="title" type="text" ng-model="tf.title" />
        </material-input-group>
        <textarea ui-tinymce="tinymceOptions" ng-model="tf.text"></textarea>
        <material-button flex class="material-button-raised" type="submit" ng-click="createNote(tf)">Create Note</material-button>
    </form>
</material-whiteframe>
