<material-whiteframe class="material-whiteframe-z1" layout="vertical" layout-align="" style="width:60%">
    <material-toolbar>
        <div layout="horizontal">
            <div flex></div>
            <i class="fa fa-save fa-2x my-btn" ng-click="addUrl(url)"></i>
            <i class="fa fa-times fa-2x my-btn" ng-click="cancel()"></i>
        </div>

    </material-toolbar>
    <material-input-group>
        <label for="description">Description of the resource</label>
        <material-input type="text" id="description" ng-model="url.description" style="width:100%;"/>
    </material-input-group>
    <material-input-group>
        <label for="title">name of the resource</label>
        <material-input type="text" id="title" ng-model="url.title" required style="width:100%;"/>
    </material-input-group>
    <material-input-group flex>
        <label for="url">url (http://...)</label>
        <material-input type="url" id="url" ng-model="url.text" required />
    </material-input-group>
    <material-button style="width:100%;" class="material-button-raised">
    </material-button>
        <!--<i class="fa fa-save fa-2x my-btn" ng-click="addUrl(url)"></i>-->
</material-whiteframe>