<material-dialog style="width:100%;" layout layout-fill>
    <material-toolbar layout="horizontal" layout-align="">
        <div layout layout-align="start center">
            <span flex>HackPad</span>
            <material-button ng-click="exportHackPad()">
                Save
            </material-button>
            <i class="fa fa-times fa-2x my-btn" ng-click="cancel()" block></i>
        </div>
    </material-toolbar>
    <material-content layout layout-fill>
        <!--<script src="{{url}}" ng-if="url"></script><noscript ng-if="url && id" style="width:100%;height:500px;"><div layout>View <a ng-href="https://hackpad.com/{{id}}">Untitled</a> on Hackpad.</div></noscript>-->
        <iframe ng-src="{{url}}" frameborder="0" style="width:100%;"></iframe>
    </material-content>
</material-dialog>