<div class="container">
    <div class="row">
        <form name='passf' class="form-horizontal mtl pal">
            <div class="form-group">
                <label  class="col-sm-2 control-label">{{'USERSET_PASS_NEW'|translate}}</label>
                <div class="col-sm-4">
                    <input type="password" name='password' class="form-control" ng-model="profile.password" required/>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">{{'USERSET_PASS_AGAIN'|translate}}</label>
                <div class="col-sm-4">
                    <input type="password" name='password2'  class="form-control"  ng-model="profile.password2" ng-change="checkPassword()" required/>
                    <span class="alert alert-info" ng-show="notMatch">{{'USERSET_PASS_NOTMATCH'|translate}}</span>
                </div>
            </div>
            <span class="alert alert-info" ng-show="notMatch">{{'USERSET_PASS_NOTMATCH'|translate}}</span>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button class="btn btn-success" ng-click="updatePass()" ng-disabled="passf.$invalid" >{{'BTN_SAVE'|translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>