<div style="margin-top:20px;margin-bottom: 20px;">
    <img src="images/svg/login.svg" alt="LogIn"/>
    <i class="fa fa-arrow-right fa-2x my-btn pull-right" style="color:black;" ng-click="toggleLogin()"></i>
</div>
<div ng-controller="LoginCtrl">
    <form class="signin-form">
            <span class="material-input-group ">
                <label for="signinUsername">Username</label>
                <input id="signinUsername" type="text" ng-model="signin.username">
            </span>
            <span class="material-input-group material-input-group-theme-yellow">
                <label for="signinPassword">Password</label>
                <input id="signinPassword" type="password" ng-model="signin.password">
            </span>
        <br/>
        <div class="center" style="color: #000000;">
            <i class="fa fa-2x my-btn fa-wrench" ng-click="forgotPass()" tooltip="forgot your pass ?"></i>
            <i class="fa fa-2x my-btn fa-sign-in" ng-click="login($event)" tooltip="sign-in"></i>
        </div>
    </form>
    <div ng-if="resetPassForm" class="forgot-pass">
            <span class="material-input-group" style="width:80%;display:inline-block;">
                <label for="email">your email account</label>
                <input id="email" type="email" ng-model="resetPass.email">
            </span>
        <i class="fa fa-2x fa-envelope " ng-class="{ 'my-btn': !emailSend }" tooltip-placement="left" tooltip="send reset e-mail" ng-click=" getToken(resetPass.email)"></i>
            <span class="material-input-group ">
                <label for="token">token you get by mail</label>
                <input id="token" type="text" ng-model="resetPass.token">
            </span>
            <span class="material-input-group " style="width:80%;display:inline-block;">
                <label for="password">your new password</label>
                <input id="password" type="password" ng-model="resetPass.password">
            </span>
        <i class="fa fa-2x fa-share my-btn" tooltip="reset your password" tooltip-placement="left" ng-click="reSet(resetPass)"></i>
    </div>
</div>