<material-item>
    <div class="material-tile-left">
        <user-block style="position : relative; top:4px;" height="'64px'" width="'64px'" user-id="notif.owner"></user-block>
    </div>
    <div class="material-tile-content" layout="horizontal" layout-align="center center">
        <span>
            created a new Challenge
        </span>
        <challenge-info challenge-id="notif.entity"></challenge-info>
    </div>
    <div class="material-tile-right">
        <material-button ng-click="closeToast()">
            Close
        </material-button>
    </div>
</material-item>