<md-item>
    <div class="md-tile-left">
        <user-block style="position : relative; top:4px;" height="'64px'"  width="'64px'" user-id="notif.owner"></user-block>
    </div>
    <div class="md-tile-content" layout="horizontal" layout-align="center center">
        <span>
            join
        </span>
        <project-info project-id="notif.entity"></project-info>
    </div>
    <div class="md-tile-right">
        <md-button ng-click="closeToast()">
            Close
        </md-button>
    </div>
</md-item>