<md-item layout="row">
    <div class="md-tile-left">
        <user-block style="position : relative; top:4px;" height="'60px'" width="'60px'" user-id="notif.owner"></user-block>
    </div>
    <div flex class="md-tile-content" layout="row" layout-align="center center">
        <span>
            publish
        </span>
        <note-info note-id="notif.entity"></note-info>
    </div>
    <div class="md-tile-right">
        <md-button ng-click="closeToast()">
            Close
        </md-button>
    </div>
</md-item>