<div class="container" style="max-width:970px!important;" >
    <div class="row">
        <div class="col-sm-8  col-xs-12">
            <form class="form-horizontal" name="register" role="form">
                <legend>{{ 'REGISTER_TITLE' | translate }}</legend>
                <div class="form-group">
                    <label  class="col-sm-3 col-xs-12 control-label">{{ 'REGISTER_USERNAME' | translate }}</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <input type="text" placeholder="{{ 'REGISTER_USERNAME_PH' | translate }}" name="username" ng-model="rgform.username" class="form-control" ng-minlength="2">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 col-xs-12 control-label">{{ 'REGISTER_EMAIL' | translate }}</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="email" placeholder="{{ 'REGISTER_EMAIL_PH' | translate }}" class="form-control" name="email" ng-model="rgform.email" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 col-xs-12 control-label">{{ 'REGISTER_SKILLS' | translate }}</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="tag-manager" entity="rgform" ng-model="rgform.tags"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 col-xs-12 control-label">{{ 'REGISTER_PASSWORD' | translate }}</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <input type="password" name="password" placeholder="{{ 'REGISTER_PASSWORD_PH' | translate }}" class="form-control" ng-model="rgform.password" ng-minlength="6">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 col-xs-12 control-label">{{ 'REGISTER_CONFIRMPASS' | translate }}</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="password" name="password2" placeholder="{{ 'REGISTER_CONFIRMPASS_PH' | translate }}" ng-model="check.password" class="form-control" required="">
                        <span ng-show="notMatch" class="alert alert-warning">{{ 'REGISTER_NOTMATCH_PASS' | translate }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-xs-12 control-label">Localisation</label>
                    <div class="col-sm-9 col-xs-12">
                        <ui-select ng-model="rgform.localisation"
                                   theme="bootstrap"
                                   reset-search-input="false">
                            <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
                            <ui-select-choices repeat="address in addresses track by $index"
                                     refresh="refreshAddresses($select.search)"
                                     refresh-delay="0">
                                <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3 col-xs-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="rgform.term" required=""> <a ng-href="p/term" target="_blank">{{ 'REGISTER_TERM' | translate }}</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 col-xs-12">
                        <button class="btn btn-success" ng-disabled="register.$invalid"  ng-click="registerUser()">{{ 'REGISTER_NOW' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div ng-if="fileUploadQuestion">
                <p>
                    Do you want to add a poster to your account ?
                </p>
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
            <div class="form-group" ng-if="showFileUploader">
                <label class="col-sm-3 col-xs-12 control-label">{{'CHALLENGE_SUGGEST_BRIEF'|translate}}</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="file" ng-file-select="onFileSelect($files)">
                    <div ng-file-drop="onFileSelect($files)" class="upload-box" ng-file-drag-over-class="upload-box-hover" style="background-image : url('{{ fileUrl }}')">
                        drop files here
                    </div>
                    <button class="btn" ng-click="upload()">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>
