<section class="row">
    <section class="col-md-6">
        <section class="row">
            <h3 class="center">Files</h3>
            <div class="list-group" >
                <cri-uploader></cri-uploader>
            </div>
            <br/>
            <section class="row" style="padding:15px">
                <span ng-repeat="file in files">
                    <i class="fa {{ file.class }} fa-2x icon-file" ng-class="{ 'file-selected' : file.id == fileDetails.id  }" ng-click="showFileDetails(file)" style="display : inline-block" popover-trigger="mouseenter" popover-title="{{ file.originalFilename }}" Popover-animation="true" popover="{{ file.ownerName }}"></i>
                </span>
            </section>
        </section>
        <section class="row center" ng-if="fileDetails">
            <a ng-href="{{ fileDetails.url }}" class="pull-right" target="_blank" tooltip="download file">
                <i class="my-btn fa fa-cloud-download fa-2x"></i>
            </a>
            <p ng-bind="fileDetails.description"></p>
            <!--<button href="" class="btn btn-default">open in Google Docs</button>-->
            <img ng-src="{{ fileDetails.url }}" width="100%" ng-if="isImage(fileDetails)"/>
            <video ng-src="{{ fileDetails.url }}" ng-if="isVideo(fileDetails)"></video>
            <pdf-js url="fileDetails.url" width="100%" height="400px" ng-if="isPdf(fileDetails)"></pdf-js>
            <g-doc-preview ng-if="isOfficeDoc(fileDetails)" doc-url="fileDetails.url"></g-doc-preview>
        </section>
    </section>
    <section class="col-md-6">
        <h3 class="center">Links</h3>
        <div style="padding-right: 5px;padding-left: 5px;">
            <span class="material-input-group material-input-group-theme-light-blue">
                <label for="description">description of the resource</label>
                <input type="text" id="description" ng-model="url.description" style="width:100%;">
            </span>
            <span class="material-input-group material-input-group-theme-light-blue">
                <label for="title">name of the resource</label>
                <input type="text" id="title" ng-model="url.title" required style="width:100%;"/>
            </span>
            <span class="material-input-group material-input-group-theme-light-blue" style="width:90%;">
                <label for="url">url (http://...)</label>
                <input type="url" id="url" ng-model="url.text" required style="width:80%;display: inline-block" />
            </span>
            <i class="fa fa-save fa-2x my-btn" ng-click="addUrl(url)"></i>
        </div>
        <br/>
        <div class="list-group" ng-repeat="url in myTopic.urls">
            <a ng-href="{{ url.text }}" class="list-group-item" ng-bind="url.title" target="_blank" popover-trigger="mouseenter" Popover-animation="true" popover="{{ url.description }}"></a>
        </div>
    </section>
</section>