<section class="row">
    <section class="col-md-2">
        <h3 class="dashed pas hidden-sm hidden-xs">
            Notes
        </h3>
        <blockquote class="text-muted hidden-sm hidden-xs" >
            a note could be a protocol, an experiment, a result or a simple discussion around the project.
        </blockquote>
        <div  >
            <a href="" class="btn btn-block btn-info" ng-click="popUpTopic()" ng-if="me">
                Create a new note
            </a>
        </div>
        <div>
            <i class="fa fa-2x my-btn fa-circle-o" ng-class="{ active : !isActive }" tooltip="all" ng-click="filterTopics()"></i>
            <i class="fa fa-2x my-btn fa-comments" ng-class="{ active : isActive ==1 }" tooltip="discussion" ng-click="filterTopics(1)"></i>
            <i class="fa fa-2x my-btn fa-tasks" ng-class="{ active : isActive == 2 }" tooltip="protocol" ng-click="filterTopics(2)"></i>
            <i class="fa fa-2x my-btn fa-flask" ng-class="{ active : isActive == 3 }" tooltip="experiment" ng-click="filterTopics(3)"></i>
            <i class="fa fa-2x my-btn fa-graduation-cap" ng-class="{ active : isActive == 4 }" tooltip="result" ng-click="filterTopics(4)"></i>
        </div>
        <div class="list-group">
            <a ng-repeat="topic in topics | filter:search" class="list-group-item" ui-route="/project/{{ projectId }}/topic/{{ topicId }}"  ng-class="{ active : topicId == topic.id }" ui-sref="project.topic.details.discussion({ tid : topic.id })">
                <i class="fa fa-2x" ng-class="{'fa-comments' : topic.type == 1,'fa-tasks' : topic.type == 2, 'fa-flask' : topic.type == 3,'fa-graduation-cap':topic.type == 4 }"></i>
                &nbsp<h4 ng-bind="topic.title" style="display:inline-block;"></h4>
            </a>
        </div>
    </section>
    <section class="col-md-10">
        <div ui-view="topicView">

        </div>
    </section>
</section>
