<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"> <h4>Feedback to us：</h4> </div>
        <div class="modal-body">
            <textarea placeholder="Questions or suggestions" class="form-control" rows="3" class="input-xxlarge" ng-model="feedbackf.text"></textarea>
        </div>
        <div class="modal-footer">
            <button ng-click="sendFeedback()" class="btn btn-success">确认</button>
            <button class="btn btn-warning cancel" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>

                    