$md-tab-color : #313131;
$md-tab-color-active : black;
$md-tab-color-disabled : #808080;
$md-tab-background : #ffffff;
$md-tab-background-disabled : #c1c1c1;
$md-card-background : rgb(253, 255, 248);

$headerHeight : 64px;

.md-theme-black{
  background-color: #000000;
  color : #f5f5f5;
}

.md-dialog-container{
  overflow-y: hidden;
}

md-content{
  padding : 0px ;

}

.md-content{
  height:100%;
  padding-top : $headerHeight;
}

md-tabs{
  padding-left: 0px !important;
  width:100%;
}

md-tab md-tab-label{
  color : $md-tab-color;
  background-color: $md-tab-background;
  &.active {
    color: $md-tab-color-active;
  }
  &.disabled {
    color: $md-tab-color-disabled;
    background-color : $md-tab-background-disabled
  }
}

.tabs-header{
  background-color: $md-tab-background;
}

.tab-paginator{
  color : black !important;
  background-color: darkgray;
}

.md-theme-white{
  color : black !important;
  background-color: white !important;
}

md-card{
  background-color: $md-card-background;
  //  height: 400px;
  font-size : 0.8em;
  word-wrap: break-word;
  width:180px;
  h4{
    cursor : pointer;
    word-break: break-all;
  }
  showtags{
    font-size : 0.7em;
  }
}


md-toast{
  min-height : $headerHeight !important;
  z-index:100;
}


md-whiteframe{
  background-color: $md-card-background !important;
}


md-ink-bar{
  background-color: #5f9ea0!important;
  height:4px!important;
}

md-dialog{
//  width:90%;
//  height : 300px;
  md-toolbar{
    border-bottom:solid 1px black;
  }
  md-content{
    padding-left : 15px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}


.md-button-fab{

  .fa{
    margin: auto auto;
    position: relative;
  }
}


.md-sidenav-right.open,.md-sidenav-left.open{
  z-index:25 !important;
}

.md-sidenav-left{
  md-button{
    i{
      display: inline-block;
      width: 100%;
      text-align: right;
    }
  }
}
//@media (min-width: 960px) {
//  md-sidenav {
//    position: absolute !important;
//    -webkit-transition: all 0.3s ease-in-out !important;
//    transition: all 0.3s ease-in-out !important;
//  }
//  .md-sidenav-backdrop {
//    display: block !important;
//  }
//}
