@media all and (min-width:700px){

  .carousel-home{
    padding-left:10%;
    padding-right:10%;
  }

  .sidenav-container{
    width:350px;
  }

  .project-modal{
    max-height: 800px;
  }

  .profile-picture{
    width:40%;
  }

  material-card{
    width: 180px;
  }

}