@media all and (min-width:700px){

  .sidenav-container{
    width:350px;
  }

  .project-modal{
    max-height: 800px;
  }

  .profile-picture{
    width:40%;
  }

  md-card{
    width: 180px;
  }

}