@media all and (min-width:700px){
  .project-modal{
    max-height: 800px;
  }

  .profile-picture{
    width:40%;
  }

  .right-part{
    margin-left : 20px;
  }

  .carousel-body {
    padding-left : 100px;
  }
  material-card{
    width: 180px;

  }
  material-dialog{
    width:60%;
    height: 900px;
  }
}