<md-dialog>
    <md-toolbar layout="horizontal" layout-align="">
        <div layout layout-align="start center">
            <div flex>Edit home page</div>
            <span class="faa-spin animated" ng-if="isLoading">
                <i class="fa fa-spinner"></i>
            </span>
            <md-button class="md-button-fab" ng-click="update(newChallenge)">
                <i class="fa fa-save"></i>
            </md-button>
            <md-button class="md-button-fab" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <form name="descriptionForm">
            <textarea ui-tinymce="tinymceOption" name='brief' ng-model="newChallenge.home"/></textarea>
            <!--<md-button type="button" style="width:100%;" class="md-button-raised" ng-click="update(newChallenge)">-->
            <!--<span class="faa-spin animated" ng-if="isLoading">-->
                <!--<i class="fa fa-spinner"></i>-->
            <!--</span>-->
                <!--Update-->
            <!--</md-button>-->
        </form>
    </md-content>
</md-dialog>