<md-dialog id="edit-poster-dialog">
    <md-toolbar layout="row">
        <div layout layout-align="start center">
            <div>Pick a poster image</div>
            <md-button class="md-fab"  ng-click="cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <image-crop
            data-width="300"
            data-height="300"
            data-shape="circle"
            data-step="imageCropStep"
            data-result="imageCropResult"
            ></image-crop>

</md-dialog>