<header  class="navbar navbar-fixed-top navbar-inverse" role="navigation"  ng-controller="HeaderCtrl">
    <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="navbar-toggle navbar-toggle-icon" ng-init="isNavCollapsed = true" ng-click="isNavCollapsed = !isNavCollapsed">
                <i class="fa fa-cogs fa-2x" style="color : white;"></i>
            </button>
            <a ui-sref="home" class="navbar-brand" style="font-size: 2em;color: #f8f8f8;" >{{'TITLE'|translate}} </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div collapse="isNavCollapsed" class="navbar-collapse" >
            <ul class="nav navbar-nav">
                <!--<li ui-route="/"  ng-class="{active:$uiRoute}">-->
                    <!--<a ui-sref="home">{{'HEAD_HOME'|translate}}</a>-->
                <!--</li>-->
                <li ui-route="/challenges" ng-class="{active:$uiRoute}">
                    <a ui-sref="challenges">{{ 'HEAD_CHALLENGE' | translate }}</a>
                </li>
                <li ui-route="/projects" ng-class="{active:$uiRoute}">
                    <a ui-sref="projects">{{ 'HEAD_PROJECT' | translate }}</a>
                </li>
                <!-- <li ng-class="{active:isActive('/project/')}" >  <a   ng-href="project/"   >{{ 'HEAD_PROJECT' | translate }}</a></li>-->
                <li class="ptm mlm" style="width:400px;" >
                    <ui-select ng-model="address.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               ng-init="width = '300px'"
                               select-focus
                               reset-search-input="true"
                               style="width: 100%">
                        <ui-select-match placeholder="Search...">
                            {{$select.selected.title || $select.selected.username}}
                        </ui-select-match>
                        <ui-select-choices repeat="result in searchResult track by $index"
                                 refresh="refreshSearchBar($select.search)"
                                 refresh-delay="0">
                            <div class="media" ng-click="goTo(result)">
                                <a class="pull-left">
                                    <img class="media-object" height="50px" ng-src="{{ result.poster }}">
                                </a>
                                <div class="media-body" >
                                    <h4 class="media-heading" ng-if="result.title" ng-bind="result.title"></h4>
                                    <h4 class="media-heading" ng-if="result.username" ng-bind="result.username"></h4>
                                    <span ng-repeat="tag in result.tags">#{{ tag }} </span>
                                </div>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </li>
            </ul>

            <div ng-if="!user.isLoggedIn()">
                <ul class="nav navbar-nav navbar-right" >
                    <li class=""><a ui-sref="register"> {{ 'HEAD_REGISTER' | translate }}</a></li>
                    <li class="" ><a ui-sref="login">{{ 'HEAD_LOGIN' | translate }}</a></li>
                </ul>
            </div>
            <div ng-if="user.isLoggedIn()">
                <ul class="nav navbar-nav navbar-right" >
                    <li ng-show="me.profile.admin"><a ui-sref="challenges" >{{ 'ADMIN_SCREEN' | translate }}</a></li>
                    <li>
                        <a ui-sref="profile.activity({ uid : me.profile.id })" style="padding : 5px;">
                            <img ng-if="me.profile.poster" ng-src="{{ me.profile.poster }}" height="50" tooltip-animation="true" tooltip="{{ me.profile.username }} point" tooltip-placement="bottom"/>
                            <img ng-if="!me.profile.poster" src="images/avater.jpg" height="50" tooltip-animation="true" tooltip="{{ me.profile.username }}" tooltip-placement="bottom"/>
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'HEAD_ACCOUNT'|translate}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Admin</a></li>
                            <li><a ui-sref="userSettings.pass({ uid : me.profile.id })"  >{{ 'HEAD_SETTING' | translate }}</a></li>
                            <li><a ng-href=""  ng-click="logout()"> {{ 'HEAD_LOGOUT' | translate }}</a></li>
                        </ul>
                    </li>
                    <!--<li ui-route="/message/inbox" ng-class="{active:$uiRoute}" ><a ui-sref="message({ type : 'inbox' })">{{ 'HEAD_MESSAGE' | translate }} <span ng-show="unread" style="background:lightblue;color:white;" class="brm pas">{{unread}}</span></a>-->
                    <!--</li>-->

                </ul>
            </div>
        </div>
    </div>
</header>
<div style="margin-bottom:80px"></div>


<!--feedback-->
<!--<a class="feedback-btn" target="_blank" ng-click="openFeedback()" ng-controller="FeedbackCtrl"> Feedback </a>-->
<!-- guide-->
<!--<a class="guide-btn"  href="javascript:void(0);" onclick="javascript:introJs().setOption('showBullets', false).start();">Beginner's guide</a>-->
