<!--<div style="margin-top:20px;margin-bottom: 20px;">-->
    <!--<img src="images/svg/Notifications.svg" alt="notification"/>-->
    <!--<i class="fa fa-arrow-right fa-2x my-btn pull-right" style="color:black;" ng-click="toggleNotif()"></i>-->
<!--</div>-->
<div ng-if="!activities" class="alert alert-info">no activity yet, get involved !</div>
<ul class="list-group"  ng-show="activities" style="color : black; font-size:1.2em;">
    <li ng-repeat="activity in activities" class="list-group-item" style="height:100px !important;overflow-y : auto;">
        <div owner-block="activity.owner" class="pull-left">
        </div>
        <article class=" center" ng-if="activity.action == 'createProject'">
            propose a project :
            <span project-info='activity.entity'></span>
        </article>
        <article class="center" ng-if="activity.action=='createPtopic'">
            propose a topic：
            {{activity.entity.title}}
            from
            <div project-info='activity.container'></div>
        </article>
        <article class="center" ng-if="activity.action=='commentPtopic'">
            Add a comment on {{activity.container.title}} ：
            <span>{{activity.entity.text}}</span>
            from :
            <div project-info='activity.container.container'></div>
        </article>
        <article class="center" ng-if="activity.action=='followProject'">
            follow project
            <div project-info='activity.entity' class="inline"></div>
        </article>
        <article class="center" ng-if="activity.action=='followChallenge'">
            follow challenge
            <div challenge-info='activity.entity' class="inline"></div>
        </article>
        <div class="pull-right text-muted" >
            {{activity.createDate|timeago}}
        </div>
            <!--<div ng-switch-when="createPlink">-->
                <!--<div owner-block="activity.owner" class="pull-left"></div>-->
                <!--{{activity.createDate|timeago}} Idea：-->
                <!--<div project-info='activity.container'></div>-->
                <!--Add a link to participate：-->
                <!--<a href="{{activity.entity.link}}" target="_blank">-->
                    <!--{{activity.entity.title}}-->
                <!--</a>-->
            <!--</div>-->



    </li>
    <li class="list-group-item">
        <button ng-show="activities.length>=10&&!isEnd" ng-click="loadMoreActivities(noPage)" class="btn  btn-default ">
            Load More
        </button>
        <div ng-hide="activities" class="alert alert-info">Noting yet</div>
        <div ng-show="isEnd&&activities.length>=10"  class="alert alert-info">The end !</div>
    </li>
</ul>

