<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex>Edit your project home page</span>
            <md-button ng-click="update(newProject)" class="md-fab">
                <i class="fa fa-save"></i>
            </md-button>
            <md-button class="md-fab" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <textarea name="home" required ui-tinymce="tinymceOption" ng-model="newProject.home"></textarea>
     </md-content>
</md-dialog>
