<material-dialog>
    <material-toolbar>
        <div class="material-toolbar-tools">
            <span flex>Edit your project home page</span>
            <material-button ng-click="update(newProject)" class="material-button-fab">
                <i class="fa fa-save"></i>
            </material-button>
            <material-button class="material-button-fab" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </material-button>
        </div>
    </material-toolbar>
    <material-content>
        <textarea name="home" required ui-tinymce="tinymceOption" ng-model="newProject.home"></textarea>
     </material-content>
</material-dialog>
