<md-dialog>
    <md-toolbar layout="row" layout-align="start end">
        <div flex>
            Invite some people
        </div>
        <md-button class="md-button-fab" ng-click="sendInvite()">
            <i class="fa fa-check"></i>
        </md-button>
        <md-button ng-click="cancel()">
            <i class="fa fa-times"></i>
        </md-button>
    </md-toolbar>
    <md-content>
        <form name="inviteform">
            <md-input-group>
                <label for="email">Your friend's email</label>
                <md-input id="email" type="text" ng-model="invite.email"></md-input>
            </md-input-group>
            <md-input-group>
                <label for="subject">Subject</label>
                <md-input type="text"  id="subject" ng-model="invite.subject"></md-input>
            </md-input-group>
            <textarea ui-tinymce  class="form-control" ng-model="invite.message"></textarea>
        </form>
    </md-content>
</md-dialog>