<md-dialog>
    <form name="removeProjectForm">
        <md-toolbar layout="row" layout-align="">
            <div layout layout-align="start center">
                <div  flex class="center">
                    <i class="fa fa-warning">Warning</i>
                </div>
                <md-button class="md-button-fab md-warn" ng-click="delete()" ng-disabled="removeProjectForm.$invalid">
                    <i class="fa fa-ban"></i>
                </md-button>
                <md-button class="md-button-fab" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <div>
                <p>By clicking the confirm button above, you will delete your project. There is no way to recover the data associated with it.</p>

                <p>If you are sure, please type in the name of your project below and then click the confirm button</p>
            </div>
                <md-input-group>
                    <label for="titleR">Name of your project</label>
                    <md-input type="text" ng-model="projectTest.title" id="titleR" name="title" ng-pattern="projectTitle" required></md-input>
                </md-input-group>
                <div ng-messages="removeProjectForm.title.$error" ng-if="!removeProjectForm.title.$pristine">
                    <div ng-message="pattern">
                        This is not the name of your project.
                    </div>
                </div>
        </md-content>
    </form>
</md-dialog>