.search-bar{
  z-index : 1000;
  .result-item{
    showtags : {
      font-size : 0.6em;
    }
  }
}

.svg-active{
  border-bottom: 1px solid #000000;
}

.plus-icon{
  cursor: pointer;
}

.profile-menu{
  md-button{
    width:100%;
    margin-left : 10px;
    text-align : right;
    padding-right : 15px;
  }
}


.hidden{
  display: none;
}

.img-rounded{
  border-radius : 100%;
}

.menu {
  padding: 10px;
  
  md-button {
    width: 100%;
    margin-left: 10px;
    text-align: right;
    padding-right: 15px;
  }


}

#miniProfil img{
  height: 50px;
  width: 50px;
}