.search-bar{
  z-index : 1000;
  .result-item{
    showtags : {
      font-size : 0.6em;
    }
  }
}

.svg-active{
  border-bottom: 1px solid #000000;
}

.plus-icon{
  cursor: pointer;
}

.profile-menu{
  md-button{
    width:100%;
    margin-left : 10px;
    text-align : right;
    padding-right : 15px;
  }
}


.hidden{
  display: none;
}

.img-rounded{
  border-radius : 100%;
}

.img-rounded{
  border-radius : 100%;
  width: 40px;
  top: 20px;
  position: relative;
}

.username-info-card{
  color: black;
  text-decoration: none;
}

.menu {
  padding: 10px;
  
  md-button {
    width: 100%;
    margin-left: 10px;
    text-align: right;
    padding-right: 15px;
  }
}

#miniProfil img{
  height: 50px;
  width: 50px;
}

.badge {
  background-color: $baseColor;
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 25%;
  text-align: center;
  color: white;
}

.search-poster {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: inline-block;
}

