<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="cri"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>IdeaWeave</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <base href="/"/>
    <link rel="stylesheet" href="styles/fira.css">
    <link rel="stylesheet" href="styles/selectize.default.css">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="vendors/Font-Awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendors/font-awesome-animation/dist/font-awesome-animation.css"/>
    <link rel="stylesheet" href="vendors/animatecss/animate.css"/>
    <link rel="stylesheet" href="vendors/angular-ui-select/dist/select.css"/>
    <link rel="stylesheet" href="vendors/angular-image-crop/image-crop-styles.css"/>
    <link rel="stylesheet" href="vendors/angular-carousel/dist/angular-carousel.css">
    <link rel="stylesheet" href="vendors/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body layout="row" layout-fill ng-controller="BodyCtrl">
<!--[if lt IE 10]>
      <p class="alert alert-warning">For better user experience,please use one of these browers :
    <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a>
    <a href="www.mozilla.org/en-US/firefox/&lrm;" target="_blank">Firefox</a> /
        <a href="http://www.opera.com/" target="_blank">Opera</a></li>
      </p>
<![endif]-->

    <div layout="column" layout-fill>
        <md-toolbar ng-controller="HeaderCtrl" class="main-header">
            <div class="md-toolbar-tools">
                <a ui-sref="home">
                    <img src="images/svg/logoheader.svg" height="50px" alt="IdeaWeaves"/>
                </a>
                <div layout="row" layout-align="start end" >
                    <a ui-sref="ideas({ tag :'all' })" class="top-bar-icon">
                        <md-icon style="width: 24px; height: 31px;" md-svg-src="images/svg/ideas.svg"></md-icon>
                        <md-tooltip>ideas</md-tooltip>
                    </a>
                    <a ui-sref="createIdea" ng-if="currentUser._id">
                        <img src="images/add.png" class="add-icon"/>
                    </a>

                    <a ui-sref="challenges.list({ tag :'all' })" class="top-bar-icon">
                        <md-icon style="width: 24px; height: 31px;" md-svg-src="images/svg/challenges.svg"></md-icon>
                        <md-tooltip>challenges</md-tooltip>
                    </a>
                    <a ui-sref="challengeSuggest" ng-if="currentUser._id">
                        <img src="images/add.png" class="add-icon"/>
                    </a>

                    <a ui-sref="projects.list({ tag :'all' })" class="top-bar-icon">
                        <i class="fa fa-rocket idea-icon"></i>
                        <md-tooltip>projects</md-tooltip>
                    </a>
                    <a ui-sref="projectCreation" ng-if="currentUser._id">
                        <img src="images/add.png" class="add-icon"/>
                    </a>
                    &nbsp;
                </div>
                <search-bar flex></search-bar>
                <md-button ng-cloak ui-sref="signin" class="md-raised md-primary" ng-if="!currentUser">
                    <i class="fa fa-sign-in"> Sign In</i>
                </md-button>
                <md-button ui-sref="profile({ uid : currentUser._id })" class="cursor-hand md-primary" id="miniProfil" ng-if="currentUser">
                    <div div layout="row" ng-cloak layout-align="center center">
                        <img ng-src="{{ currentUser.poster || 'images/avater.jpg' }}" alt="{{ currentUser.username }}'s photo" class="img-rounded"/>
                        <p>&nbsp;{{ currentUser.realname || currentUser.username }}</p>
                    </div>
                </md-button>
                <md-button ng-cloak ui-sref="feed" ng-if="currentUser" class="md-icon-button md-primary">
                    <i class="fa fa-flag">
                        <md-tooltip>
                            notification
                        </md-tooltip>
                    </i>
                </md-button>
                <md-button ng-cloak ng-if="currentUser" id="signout" class="md-raised md-warn" ng-click="signout()" >
                    <i class="fa fa-sign-out">Signout</i>
                </md-button>
            </div>
        </md-toolbar>

        <section layout="row" layout-fill ng-controller="LeftNavCtrl">
            <md-sidenav ng-cloak ng-show="sideNavTemplateUrl" class="md-sidenav-left md-whiteframe-z2" component-id="left" md-is-locked-open="true">
                <ng-include src="sideNavTemplateUrl" flex layout="column" layout-fill>
                </ng-include>
            </md-sidenav>
            <section ui-view="mainView" layout="column" layout-fill class="right-part"></section>
        </section>
    </div>


    <script src="vendors/tinymce-dist/tinymce.min.js"></script>
    <script src="vendors/tinymce-dist/themes/modern/theme.min.js"></script>
    <script src="vendors/tinymce-dist/plugins/print/plugin.min.js"></script>
    <script src="vendors/tinymce-dist/plugins/textcolor/plugin.min.js"></script>
    <!-- build:js scripts/scripts.js -->
    <script src="vendors/hammerjs/hammer.js"></script>
    <script src="vendors/jspdf/dist/jspdf.min.js"></script>
    <script src="vendors/socket.io-client/socket.io.js"></script>
    <script src="vendors/pdfjs/src/pdf.js"></script>
    <script src="vendors/underscore/underscore.js"></script>
    <script src="vendors/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="vendors/angular/angular.js"></script>
    <script src="vendors/angular-aria/angular-aria.js"></script>
    <script src="vendors/ng-messages/angular-messages.js"></script>
    <script src="vendors/angular-touch/angular-touch.js"></script>
    <script src="vendors/angular-carousel/dist/angular-carousel.js"></script>
    <script src="vendors/angular-animate/angular-animate.js"></script>
    <script src="vendors/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendors/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendors/ng-file-upload/ng-file-upload.js"></script>
    <script src="vendors/angular-socket-io/socket.js"></script>
    <script src="vendors/angular-translate/angular-translate.js"></script>
    <!-- <script src="vendors/angular-ui-utils/ui-utils.js"></script> -->
    <script src="vendors/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="vendors/angular-ui-select/dist/select.js"></script>
    <script src="vendors/angular-image-crop/image-crop.js"></script>
    <script src="vendors/angular-material/angular-material.js"></script>
    <script src="vendors/angular-timer/dist/angular-timer.js"></script>
    <script src="vendors/satellizer/satellizer.js"></script>
    <script src="vendors/angular-timeago/src/timeAgo.js"></script>
    <script src="vendors/underscore/underscore.js"></script>
    <script src="vendors/angular-cookies/angular-cookies.js"></script>

    <script src="env/config.js"></script>

    <script src="app.js"></script>

    <script src="modules/common/config.js"></script>
    <script src="modules/common/iframe/iframe.js"></script>
    <script src="modules/common/gmap/gMap.js"></script>
    <script src="modules/common/socket/socket.js"></script>
    <script src="modules/common/scroller/scroller.js"></script>
    <script src="modules/common/pdf/pdf.js"></script>
    <script src="modules/common/recommendation/recommendation.js"></script>

    <script src="modules/common/lang.js"></script>

    <script src="modules/d3/services.js"></script>
    <script src="modules/d3/directives/tagGraph.js"></script>
    <script src="modules/d3/directives/tagCloud.js"></script>

    <script src="modules/etherpad/etherpad.js"></script>

    <script src="modules/notification/notification.js"></script>
    <script src="modules/notification/notificationList/directives.js"></script>

    <script src="modules/files/services.js"></script>
    <script src="modules/files/directives/googledocPreview.js"></script>

    <script src="modules/home/controller.js"></script>
    <script src="modules/home/route.js"></script>

    <script src="modules/header/controller.js"></script>
    <script src="modules/header/service.js"></script>

    <script src="modules/footer/controller.js"></script>
    <script src="modules/footer/route.js"></script>

    <script src="modules/auth/controller.js"></script>
    <script src="modules/auth/lang.js"></script>
    <script src="modules/auth/route.js"></script>

    <script src="modules/project/controller.js"></script>
    <script src="modules/project/services.js"></script>
    <script src="modules/project/route.js"></script>
    <script src="modules/project/lang.js"></script>
    <script src="modules/project/directives/projectBlock/directives.js"></script>

    <script src="modules/workspace/controller.js"></script>
    <script src="modules/workspace/services.js"></script>
    <script src="modules/workspace/route.js"></script>
    <script src="modules/workspace/lang.js"></script>

    <script src="modules/challenge/controller.js"></script>
    <script src="modules/challenge/route.js"></script>
    <script src="modules/challenge/lang.js"></script>
    <script src="modules/challenge/services.js"></script>
    <script src="modules/challenge/directives/challengeBlock/directives.js"></script>

    <script src="modules/tag/controller.js"></script>
    <script src="modules/tag/route.js"></script>
    <script src="modules/tag/lang.js"></script>
    <script src="modules/tag/services.js"></script>
    <script src="modules/tag/directives/tagManager.js"></script>

    <script src="modules/profile/controller.js"></script>
    <script src="modules/profile/route.js"></script>
    <script src="modules/profile/lang.js"></script>
    <script src="modules/profile/services.js"></script>
    <script src="modules/profile/directives/activity/directives.js"></script>
    <script src="modules/profile/directives/userBlock/directives.js"></script>

    <script src="modules/admin/profile/controller.js"></script>
    <script src="modules/admin/profile/route.js"></script>

    <script src="modules/admin/project/controller.js"></script>

    <script src="modules/admin/challenge/controller.js"></script>
    <script src="modules/admin/challenge/route.js"></script>

    <script src="modules/admin/su/controller.js"></script>

    <script src="modules/message/controller.js"></script>
    <script src="modules/message/route.js"></script>
    <script src="modules/message/service.js"></script>

    <script src="modules/notes/directives.js"></script>
    <script src="modules/notes/services.js"></script>

    <script src="modules/idea/controller.js"></script>
    <script src="modules/idea/route.js"></script>
    <script src="modules/idea/services.js"></script>
    <script src="modules/idea/directives/ideaCard/directives.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
        // google analystic
        var _gaq = _gaq || [];
        /* // only for production
         _gaq.push(['_setAccount', 'UA-41577560-1']);
         _gaq.push(['_trackPageview']);
         (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
         */
    </script>
</body>
</html>
