<div ng-controller="ChallengeAdminLeftCtrl">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <div>
                <i class="fa fa-trophy"> Settings</i>
            </div>
        </div>
    </md-toolbar>
    <md-content>
        <section layout="column">
            <md-button ui-sref="challenge({ cid : challenge.accessUrl })" class="md-raised md-accent" style="width:100%;">
                View Challenge
            </md-button>
            <md-button ng-click="popUpPoster($event)" class="md-raised">
                Edit Poster
            </md-button>
            <md-button class="md-raised" style="width:100%;" ng-click="popUpBanner()">
                Edit Banner
            </md-button>
            <md-button class="md-raised"  style="width:100%;" ng-click="popUpEdit()">
                Edit Home Page
            </md-button>
            <md-button class="md-raised md-warn" style="width:100%;" ng-click="popUpRemove()">
                Delete Challenge
            </md-button>
        </section>
    </md-content>
</div>