<material-toolbar>
    <div ng-if="isMember" layout="vertical">
        <material-button ui-sref="project.home({ pid : project.accessUrl })">
            <i class='fa fa-home' inline-block style="text-align: right; width: 100%;">&nbsp;Home</i>
        </material-button>
        <material-button ui-sref="project.trello({ pid : project.accessUrl })">
            <i class='fa fa-trello'>&nbsp;Trello</i>
        </material-button>
        <material-button ui-sref="workspace({ pid : project.accessUrl })">
            <i class='fa fa-cogs'>&nbsp;WorkSpace</i>
        </material-button>
        <material-button ui-sref="projectAdmin({ pid : project._id })" ng-if="isOwner">
            <i class='fa fa-cog'>&nbsp;Admin</i>
        </material-button>
    </div>
    <div ng-if="recommandedUsers.length > 0">
        <h3>
            <i class="fa fa-users">Talk with :</i>
        </h3>
        <div layout="horizontal" layout-align="space-between" style="padding-right: 5px;padding-left:5px;">
            <user-block ng-repeat="user in recommandedUsers" my-user="user" width="'50px'" height="'50px'" inline-block></user-block>
        </div>
    </div>
    <div ng-if="recommandedProjects.length > 0">
        <h3>
            <i class="fa fa-lightbulb-o">Take a look at :</i>
        </h3>
        <div layout="horizontal" layout-align="space-between" style="padding-right: 5px;padding-left:5px;">
            <project-block ng-repeat="project in recommandedProjects" my-project="project" width="'50px'" height="'50px'"></project-block>
        </div>
    </div>
</material-toolbar>
<h2>Publication</h2>
<material-content>
    <material-list>
        <material-item ng-repeat="publication in publications">
            <material-item-content>
                <div class="material-tile-left">
                    <user-block user_id="publication.owner" height="'50px'" width="'50px'"></user-block>
                </div>
                <div class="material-tile-content" style="cursor:pointer;">
                    {{ publication.title }}
                </div>
            </material-item-content>
        </material-item>
    </material-list>
</material-content>