<md-toolbar>
    <div ng-if="isMember" layout="column">
        <md-button ui-sref="project.home({ pid : project.accessUrl })">
            <i class='fa fa-home' inline-block style="text-align: right; width: 100%;">&nbsp;Home</i>
        </md-button>
        <md-button ui-sref="project.trello({ pid : project.accessUrl })">
            <i class='fa fa-trello'>&nbsp;Trello</i>
        </md-button>
        <md-button ui-sref="workspace({ pid : project.accessUrl })">
            <i class='fa fa-cogs'>&nbsp;WorkSpace</i>
        </md-button>
        <md-button ui-sref="project.admin({ pid : project.accessUrl })" ng-if="isOwner">
            <i class='fa fa-cog'>&nbsp;Admin</i>
        </md-button>
    </div>
</md-toolbar>
