<md-toolbar>
    <div class="md-toolbar-tools">
        <div flex hide-md>
            <md-button class="md-button-fab"   ng-click="toggle()">
                <i class="fa fa-angle-left fa-2x"  style="color:black;" ></i>
            </md-button>
        </div>
        <div>
            <i class="fa fa-tags"> Tags</i>
        </div>
    </div>
</md-toolbar>
<md-content>
    <md-button style="width:100%;text-align:right;" ui-route="/projects/all" ng-class="{ 'md-button-raised' : $uiRoute }"  ui-sref="projects.list({ tag : 'all' })">ALL</md-button>
    <div ng-repeat="tag in tags">
        <md-button style="width:100%;text-align:right;" ui-route="/projects/{{tag.title}}" ng-class="{ 'md-button-raised' : $uiRoute }"  ui-sref="projects.list({ tag : tag.title })">{{tag.title}}</md-button>
    </div>
</md-content>
