<md-content layout="row" layout-align="space-around">
    <div layout="column">
        <h1>Forgot your Password?</h1>
        <p>Enter your email below and we will send you a unique token to reset your password</p>
        <md-input-container flex>
            <label>Email</label>
            <input id="email" type="email" ng-model="email" />
        </md-input-container>
        <md-button ng-click="send()">
            <i class="fa fa-envelope"></i> Send Email
        </md-button>
    </div>
</md-content>