<md-content layout="row" layout-align="space-around">
    <form name="resetPasswordForm">
        <div layout="column">
            <h1>Reset your Password</h1>
            <p>You should have received an email with a unique token.</p>
            <p>Enter the token below as well as a new password and we will reset the password for you.</p>

            <md-input-container flex>
                <label>Email</label>
                <input id="email" type="email" ng-model="email" />
            </md-input-container>
            <md-input-container>
                <label>Token you have received by email</label>
                <input id="token" type="text" ng-model="token" />
            </md-input-container>
            <md-input-container flex>
                <label>New password</label>
                <input id="newPassword" type="password" ng-model="newPassword" required name="newPassword" />
            </md-input-container>
            <md-input-container >
                <label>Repeat your new password</label>
                <input id="passwordCheck" type="password" ng-model="newPasswordCheck" required name="newPasswordCheck" />
            </md-input-container>
            <div ng-messages="resetPasswordForm.newPasswordCheck.$error" ng-if="!resetPasswordForm.newPasswordCheck.$pristine">
                <div ng-message="required" class="form-message">
                    Password is required
                </div>
            </div>
            <md-button ng-click="changePassword()">
                Change Password
            </md-button>
        </div>
    </form>
</md-content>