<md-content ng-controller="LoginCtrl" layout="column" class="signin-form">
    <div id="signin-container" style="max-width: 900px; margin: auto;">    
        <form name="signinForm" layout="column">
            <md-input-container>
                <label >Email</label>
                <input id="email" name="email" type="email" required ng-model="signin.email" />
            </md-input-container>
            <div ng-messages="signinForm.email.$error" ng-if="!signinForm.email.$pristine">
                <div ng-message="required">
                    Email is required
                </div>
                <div ng-message="email">
                    You must type a valid email
                </div>
            </div>
            <md-input-container>
                <label>Password</label>
                <input id="password" type="password" name="password" ng-model="signin.password" required pattern=""/>
            </md-input-container>
            <div ng-messages="signinForm.password.$error" >
                <div ng-message="required">
                    Password is required
                </div>
                <div ng-message="pattern">
                    Password must contain at least one capital letter
                </div>
            </div>
            <md-button class="md-raised md-primary" ng-click="login($event)" ng-disabled="signinForm.$invalid">
                <span class="faa-spin animated" ng-if="loader['email']">
                    <i class="fa fa-2x fa-spinner"></i>
                </span>
                <i class="fa fa-sign-in"> Sign In with Email</i>
            </md-button>
            <div>
                <md-button class="md-raised md-primary" ng-click="authenticate('google')">
                    <i class="fa fa-google"> Sign in with Google</i>
                </md-button>
            </div>
            <div>
                <md-button ui-sref="signup" class="md-raised md-theme-accent" ng-if="!currentUser">
                    <i class="fa fa-sign-in"> Register</i>
                </md-button>
            </div>
            <md-button ng-click="forgotPass()">
                Forgot your password?
            </md-button>
        </form>
        <div ng-if="resetPassForm" layout="column">
            <div layout="row" layout-align="end end">
                <md-input-container flex>
                    <label for="emailR">Email account</label>
                    <input id="emailR" type="email" ng-model="resetPass.email" />
                </md-input-container>
                <i class="fa fa-2x fa-envelope my-btn"></i>
            </div>
            <md-input-container>
                <label for="token">Token you have received by mail</label>
                <input id="token" type="text" ng-model="resetPass.token" />
            </md-input-container>
            <div layout="row" layout-align="end end">
                <md-input-container flex>
                    <label for="new-password">New password</label>
                    <input id="new-password" type="password" ng-model="resetPass.email" />
                </md-input-container>
                <i class="fa fa-2x fa-share my-btn"></i>
            </div>
        </div>
    </div>
</md-content>
