<section layout="horizontal" layout-fill style="overflow-y: hidden;">
    <material-sidenav class="material-sidenav-left material-whiteframe-z2 left" component-id="left" style="height:100%">
        <material-toolbar layout="horizontal">
            <div class="material-toolbar-tools">
                <i class="fa fa-caret-left fa-2x my-btn" hide-md style="color:black;" ng-click="toggle()" flex></i>
                <div>
                    <i class="fa fa-tags"> Tags</i>
                </div>
            </div>
        </material-toolbar>
        <material-content layout="vertical" >
            <div layout="horizontal" ng-repeat="tag in tags">
                <material-button flex class="material-button-hover" ui-route="/projects/{{tag.title}}" ng-class="{ 'material-button-raised' : $uiRoute }"  ui-sref="projects.list({ tag : tag.title })">{{tag.title}}</material-button>
            </div>
        </material-content>
    </material-sidenav>
    <section flex layout="vertical" layout-fill>
        <h1 class="center">
            Projects
        </h1>
        <div ng-if="currentUser" >
            <material-button ui-sref="projectCreation" hide block-md>
                Suggest a project !
            </material-button>
            <i class="fa fa-plus fa-2x my-btn" ui-sref="projectCreation" hide-md></i>

        </div>
        <section ui-view="projectsView" layout style="padding-bottom:64px;"></section>
    </section>

</section>
