<material-content layout="horizontal" layout-fill>
    <material-sidenav class="material-sidenav-left material-whiteframe-z2 left" component-id="left" >
        <material-toolbar layout="horizontal">
            <div class="material-toolbar-tools">
                <i class="fa fa-caret-left fa-2x my-btn" hide-md style="color:black;" ng-click="toggle()" flex></i>
                <div>
                    <i class="fa fa-lightbulb-o"> Describe your project</i>
                </div>
            </div>
        </material-toolbar>
        <aside flex>
            <p>Describe your project idea. Give it a title, a place (if applicable), and describe it in the web page section.</p>
        </aside>
    </material-sidenav>

    <material-content class="right-part" flex>
        <h2>
            Your project's description
        </h2>
        <form name="projectform" layout="vertical">
            <ui-select ng-model="newProject.container" theme="selectize">
                <ui-select-match placeholder="The challenge that you are replying to...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="challenge in challenges">
                    <img ng-src="{{ challenge.poster || 'http://placehold.it/25x25' }}" width="25px" alt="challenge's poster"/>
                    <small>
                        {{challenge.title}}
                    </small>
                    <div showtags entity="challenge"></div>
                </ui-select-choices>
            </ui-select>
            <material-input-group>
                <label for="title">Project Title</label>
                <material-input id="title" type="text" ng-model="newProject.title" required="" ng-change="titleChange(newProject.title)" />
            </material-input-group>
            <tag-manager entity="newProject"></tag-manager>
            <ui-select ng-model="newProject.localisation"
                       theme="selectize"
                       reset-search-input="false">
                <ui-select-match placeholder="Enter your address...">{{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in addresses track by $index"
                                   refresh="refreshAddresses($select.search)"
                                   refresh-delay="0">
                    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <label>Edit the web page:</label>
            <textarea rows="5" style="width:100%;border:solid 1px darkgray" ng-model="newProject.brief"></textarea>

            <material-button  class="material-button-raised" type="button" ng-click="createProject(newProject)">
                <span class="faa-spin animated" ng-if="isLoading">
                    <i class="fa fa-spinner"></i>
                </span>
                Create Project
            </material-button>
        </form>
    </material-content>
</material-content>