<md-content layout="horizontal" layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 left" component-id="left" >
        <md-toolbar layout="horizontal">
            <div class="md-toolbar-tools">
                <i class="fa fa-caret-left fa-2x my-btn" hide-md style="color:black;" ng-click="toggle()" flex></i>
                <div>
                    <i class="fa fa-lightbulb-o"> Describe your project</i>
                </div>
            </div>
        </md-toolbar>
        <aside flex>
            <p>Describe your project idea. Give it a title, a place (if applicable), and describe it briefly.</p>
        </aside>
    </md-sidenav>

    <md-content class="right-part" flex>
        <h2>
            Your project's description
        </h2>
        <form name="projectform" layout="vertical">
            <label>The challenge you are taking on</label>
            <ui-select ng-model="newProject.container" theme="selectize">
                <ui-select-match placeholder="The challenge that you are replying to...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="challenge in challenges">
                    <img ng-src="{{ challenge.poster || '/images/placeholder25x25.png' }}" width="25px" alt="challenge's poster"/>
                    <small>
                        {{challenge.title}}
                    </small>
                    <div showtags entity="challenge"></div>
                </ui-select-choices>
            </ui-select>
            <md-input-group>
                <label for="title">Project Title</label>
                <md-input id="title" type="text" ng-model="newProject.title" required="" ng-change="titleChange(newProject.title)" />
            </md-input-group>
            <tag-manager entity="newProject"></tag-manager>

            <label>Where your project is based</label>
            <ui-select ng-model="newProject.localisation"
                       theme="selectize"
                       reset-search-input="false">
                <ui-select-match placeholder="Enter your address...">{{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in addresses track by $index"
                                   refresh="refreshAddresses($select.search)"
                                   refresh-delay="0">
                    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <label>Brief description:</label>
            <textarea rows="5" style="width:100%;border:solid 1px darkgray" ng-model="newProject.brief"></textarea>

            <md-button  class="md-button-raised" type="button" ng-click="createProject(newProject)">
                <span class="faa-spin animated" ng-if="isLoading">
                    <i class="fa fa-spinner"></i>
                </span>
                Create Project
            </md-button>
        </form>
    </md-content>
</md-content>