<section layout="column">
    <md-button ui-sref="project.admin({ pid : project.accessUrl })" ng-if="isOwner">
        <i class="fa fa-pencil-square-o baseColor"></i> Edit
    </md-button>

    <section flex>
        <div ng-bind-html="project.home">
        </div>
    </section>
    <div class="row center">
        <md-button class="md-button-colored" ng-click="openApplyModal()" ng-if="!isOwner && !isMember">Join Project</md-button>

        <div class="btn-group">
            <a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?text=https://ideaweave.io/project/{{ project.title }}/home%20on%20IdeaWeave">
                <img ng-src="images/twitter-mini.png">
            </a>
            <!-- <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
            <script type="IN/Share" data-url="http://ideaweave.io/project/{{ project.title }}/home" data-counter="top"></script> -->
        </div>
    </div>

    <md-divider></md-divider>
    <h3>Badges</h3>
    <div layout="row" layout-wrap>
        <credit-card ng-repeat="credit in credits" my-credit="credit" show-given-to="false"></credit-card>
    </div>
    <p ng-if="!credits">No badges so far.</p>

    <list-notes project="project" current-user="currentUser" templates="templates"></list-notes>

    <h3>Related Ideas</h3>

    <section>
        <idea-card idea-id="idea" ng-repeat="idea in project.ideas"></idea-card>
    </section>
</section>
