<section layout="column">
    <md-button ui-sref="project.admin({ pid : project.accessUrl })" ng-if="isOwner">
        <i class="fa fa-pencil-square-o baseColor"></i> Edit
    </md-button>

    <section flex>
        <div ng-bind-html="project.home">
        </div>
    </section>
    <div class="row center">
        <div class="btn-group">
            <md-button class="md-button-colored" ng-click="openApplyModal()" ng-if="!isOwner && !isMember">Join Project</md-button>
            <md-button class="md-button-colored" ng-click="openShare()">Promote Project</md-button>
        </div>
    </div>

    <list-notes project="project" current-user="currentUser" templates="templates"></list-notes>

    <h3>Related Ideas</h3>

    <section>
        <idea-card idea-id="idea" ng-repeat="idea in project.ideas"></idea-card>
    </section>
</section>
