<material-whiteframe class="material-whiteframe-z1" layout="vertical"  style="z-index: 19; width:60%; padding-bottom:20px;">
    <material-toolbar>
            <div layout layout-align="start center">
                <span flex>Additional information</span>
                <i class="fa fa-times fa-2x my-btn" ng-click="cancel()" block></i>
            </div>
        </material-toolbar>
        <material-content>
            <form name="afterForm" style="padding-left: 10px;">
                <material-input-group>
                    <label for="additional-username">User name</label>
                    <material-input type="text" id="additional-username" ng-model="currentUser.username"></material-input>
                </material-input-group>
                <material-input-group>
                    <label for="additional-email">Email</label>
                    <material-input id="additional-email" type="text" ng-model="currentUser.email"></material-input>
                </material-input-group>
                <material-button type="button" class="material-button-raised" ng-click="updateProfile()" style="width:100%">Update profile</material-button>
            </form>
        </material-content>
    </section>
</material-whiteframe>