<md-dialog class="md-whiteframe-z1" layout="column"  style="z-index: 19; width:60%; padding-bottom:20px;">
    <md-toolbar>
        <div flex class="center">
            Additional information
        </div>
        <md-button type="button" class="md-raised" ng-click="updateProfile()" style="width:100%">Update</md-button>
    </md-toolbar>
    <md-content>
        <form name="afterForm" style="padding-left: 10px;">
            <md-input-container>
                <label for="additional-username">User name</label>
                <input type="text" id="additional-username" ng-model="currentUser.username"></input>
            </md-input-container>
            <md-input-container>
                <label for="additional-email">Email</label>
                <input id="additional-email" type="text" ng-model="currentUser.email"></input>
            </md-input-container>
        </form>
    </md-content>
</md-dialog>