<div class="idea-card">
    <md-button class="md-fab md-mini idea-button-follow md-raised" ng-click="follow()" ng-class="{ 'md-accent' : isFollow }" ng-if="currentUser">
        <i class="fa fa-eye"></i>
    </md-button>
    <md-button class="md-fab md-mini idea-button-like md-raised" ng-click="like()" ng-class="{ 'md-accent' : isLike }" ng-if="currentUser">
        <i class="fa fa-thumbs-up"></i>
    </md-button>
    <a ui-sref="idea({ iid : idea._id })">
        <img class="idea-card-icon" src="images/svg/ideas.svg">
    </a>
    <a ui-sref="idea({ iid : idea._id })" style="text-decoration:none;color:black;">
        <h4 class="idea-card-title-cut" style="margin: 0;font-size:1.3em;">{{ idea.title }}</h4>
    </a>
    <div class="text-muted" layout="row">
        <div style="margin: 12px 8px;padding: 0 6px;">
            By:
        </div>
        <md-button ui-sref="profile({ uid : idea.owner._id})">
            {{ idea.owner.username }}
        </md-button>
    </div> 
    <p class="text-muted" ng-bind="idea.brief" style="max-height:200px;overflow:hidden;" ></p>
    <show-tags model="idea.tags"></show-tags>
    <div layout="row">
        <div flex layout="row" class="text-muted">
            <span>
                {{ idea.followers.length }}
            </span>
            &nbsp;
            <span>
                Followers
            </span>
        </div>
    </div>
</div>