<material-card layout="vertical"  class="challenge-card">
    <img ng-src="{{challenge.poster || 'http://placehold.it/100x100'}}" alt="..." class="material-card-image">
    <material-button ng-if="admin && isHovered" ui-sref="challengeSettings({ cid : challenge._id })">
        <i class="fa fa-gears"></i>
        Admin
    </material-button>
    <h4 ui-sref="challenge({ pid : challenge.accessUrl })">{{ challenge.title }}</h4>
    <div layout="vertical" >
        <div class="text-muted" layout="horizontal" >
            <div>
                By :
            </div>
            <user-info flex ng-if="challenge" user-id="challenge.owner"></user-info>
        </div>
        <!--<p class="text-muted" ng-bind-html="challenge.brief" style="max-height:200px;overflow:hidden;" ></p>-->
        <showtags entity="challenge"></showtags>
        <div layout="horizontal">
            <div flex layout="horizontal" class="text-muted">
                <span>
                    {{ challenge.followers.length }}
                </span>
                &nbsp;
                <span>
                    Followers
                </span>
            </div>
            &nbsp;
            &nbsp;
            <div layout="horizontal">
                <div flex layout="horizontal" class="text-muted">
                    <span>
                        {{ challenge.projects.length }}
                    </span>
                    &nbsp;
                    <span>
                        Projects
                    </span>
                </div>
            </div>
        </div>
        <div flex layout="horizontal" class="text-muted" layout-align="center">
            <div>
                ici le timer
            </div>
        </div>
        <!--<div layout="horizontal" layout-align="center center">-->
            <!--<div flex>-->
                <!--ici le score-->
            <!--</div>-->
        <!--</div>-->
    </div>
</material-card>