<a ui-sref="challenge({ cid : challenge.accessUrl })">
    <img ng-src="{{challenge.poster || '/images/placeholder100x100.png'}}" alt="Challenge poster" class="md-card-image" width="100%">
</a>
<md-button class="md-fab md-mini follow md-raised" ng-click="follow()" ng-class="{ 'md-accent' : isFollow }" ng-if="currentUser">
    <i class="fa fa-eye"></i>
</md-button>
<md-button class="md-fab md-mini like md-raised" ng-click="like()" ng-class="{ 'md-accent' : isLike }" ng-if="currentUser">
    <i class="fa fa-thumbs-up"></i>
</md-button>
<md-content layout-padding style="cursor:hand;">
    <a style="text-decoration: none; color: black;" ui-sref="challenge({ cid : challenge.accessUrl })">
        <h4 class="md-title" style="margin: 0px">{{ challenge.title }}</h4>
    </a>
    <div class="text-muted" layout="row" style="margin:2px;" layout-align="space-around center">
        <span style="margin:2px;font-size:0.7em;">Created by</span>
        <user-block ng-if="challenge.owner" user-id="challenge.owner" flex="33"></user-block>
    </div>
    <div layout="row" layout-align="space-between center" style="margin-top: 5px;" class="text-muted">
        <span class="md-caption">{{ challenge.followers.length }} followers</span>
        <span class="md-caption">{{ challenge.likers.length }} likes</span>
        <span class="md-caption">{{ challenge.projects.length }} projects</span>
    </div>
    <div flex>
        <p ng-if="challenge.startDate < now && challenge.endDate > now" >
            <timer end-time="challenge.endDate" >End in :{{days}} d, {{hours}} : {{minutes}} : {{seconds}}</timer>
        </p>
        <p ng-if="challenge.startDate > now" >
            <timer end-time="challenge.endDate" >Start in : {{days}} d, {{hours}} : {{minutes}} : {{seconds}}</timer>
        </p>
    </div>
</md-content>