.thumb-project-brief {
  height: 50px;
  overflow: auto;
}
.owner-topic {
  background: #b2c9bc;
}
.follower-topic {
  background: #faffc1;
}
.visitor-topic {
  background: #fff4f4;
}
.member-topic {
  background: #e0ffda;
}
.icon-file {
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
}
.icon-file:hover {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5) rotate(360deg);
  /* Opera, Chrome, and Safari */
}
.project-map .angular-google-map-container {
  height: 400px;
}
