.dropbox {
  min-height: 70px;
  max-height: 300px;
  width: 100%;
  border: 1px #828282 solid;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.dropbox-dragover {
  border: 1.5px #828282 dashed;
  height: 300px;
}
