badge-card {
	img {
		width: 100px;
		height: 100px;
	}
}

#badge-image-container {
	width: 500px; 
	height: 350px; 
	margin-top: 8px;
}

#create-badge-modal {
	max-height: inherit;
	width: 520px;
	height: 470px;
}