<md-dialog>
    <md-toolbar>
        <div layout="row">
            <h2 style="text-align: center;" flex>Introduce Yourself</h2>
            <md-button class="md-fab" ng-click="applyTeamMsg()">
                <i class="fa fa-check"></i>
            </md-button>
            <md-button class="md-fab"  ng-click="cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <textarea placeholder="Present yourself" ui-tinymce style="min-height:300px; width:100%"  ng-model="apply.message"></textarea>
    </md-content>
</md-dialog>