<material-dialog>
    <material-toolbar>
        <div layout="horizontal">
            <h2 style="text-align: center;" flex>Introduce Yourself</h2>
            <material-button class="material-button-fab" ng-click="applyTeamMsg()">
                <i class="fa fa-check"></i>
            </material-button>
            <material-button class="material-button-fab"  ng-click="cancel()">
                <i class="fa fa-times"></i>
            </material-button>
        </div>
    </material-toolbar>
    <material-content>
        <textarea placeholder="Present yourself" ui-tinymce style="min-height:300px; width:100%"  ng-model="apply.message"></textarea>
    </material-content>
</material-dialog>