<div>
    <div class="form-inline" >

            <!--<input type="text" id="tags" class="form-control" ng-model="myTag"  typeahead="tag.title for tag in tags | filter:$viewValue | limitTo:8">-->
            <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-default"  type="button">{{"BTN_ADD"| translate }}</button>-->
            <!--</span>-->
        <div class="material-input-group material-input-group-theme-light-blue">
            <label for="tags">Tags</label>
            <input id="tags" type="text" ng-model="myTag"  typeahead="tag.title for tag in tags | filter:$viewValue | limitTo:8" style="width:80%;display:inline-block;">
            <i class="fa fa-plus fa-2x my-btn" ng-if="myTag" ng-click="add(myTag)"></i>
        </div>
        <ul class="list-unstyled" >
            <li ng-repeat="(idx, tag) in entity.tags" class="inline mas text-muted tag-list">#{{tag}}<a href="" class="muted pull-right mls" ng-click="remove(idx)">X</a></li>
        </ul>
    </div>
    <ul class="list-unstyled">
        <li ng-repeat="toptag in toptags" class="inline tag mas text-muted" ng-click="addRecTag(toptag.id)">#{{toptag.id}}</span></li>
    </ul>
</div>


