<section layout="horizontal" layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 left" component-id="left">
        <md-content style="padding-left: 20px;" layout="vertical" layout-fill>
            <md-toolbar layout="horizontal">
                <div class="md-toolbar-tools">
                    <i class="fa fa-caret-left fa-2x my-btn" hide-md style="color:black;" ng-click="toggle()" flex></i>
                    <div>
                        <i class="fa fa-trophy">Edit your profile</i>
                    </div>
                </div>
            </md-toolbar>
            <section layout="vertical">
                <md-button ng-click="editPageModal()">
                    Edit your personal page
                </md-button>
                <md-button ng-click="cropPosterModal()">
                    Change poster
                </md-button>
                <md-button ng-click="resetPassModal()">
                    Reset Password
                </md-button>
            </section>
            <section layout="vertical">
                <header>
                    <h3 class="center">Notifications</h3>
                </header>
                <section>
                    <md-checkbox ng-model="profile.liveNotification">
                        Live
                    </md-checkbox>
                    <md-checkbox ng-model="profile.mailNotification">
                        Email
                    </md-checkbox>
                    <md-button class="md-button-raised" ng-click="updateProfile()" style="width:100%;">
                        Save
                    </md-button>
                </section>
            </section>
        </md-content>
    </md-sidenav>
    <section layout="vertical" layout-fill>
        <md-toolbar class="md-theme-green" scroll-shrink>
            <h2 class="center">Edit your profile !</h2>
        </md-toolbar>
        <md-content flex class="right-part">
            <form name="basicForm">
                <md-input-group>
                    <label for="username">User name</label>
                    <md-input type="text" id="username" ng-model="profile.username"></md-input>
                </md-input-group>
                <ui-select ng-model="profile.localisation"
                           theme="selectize"
                           reset-search-input="false">
                    <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
                    <ui-select-choices repeat="address in addresses track by $index"
                                       refresh="refreshAddresses($select.search)"
                                       refresh-delay="0">
                        <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <tag-manager entity='profile' ng-model='profile.tags'></tag-manager>
                <md-button style="width:100%;" class="md-button-raised"  ng-click="updateProfile(profile)">Update Profile</md-button>
            </form>
        </md-content>
    </section>
</section>