<md-content>
    <md-content layout="row" layout-align="center" layout-margin>
        <section class="md-whiteframe-z2" flex-gt-sm="75" layout="column">
            <md-toolbar class="md-theme-green" scroll-shrink>
                <h2 class="center">Edit your profile</h2>
            </md-toolbar>
            <md-content flex class="right-part" layout-padding>
                <form name="basicForm">
                    <header>
                        <h3 class="center">INFORMATION</h3>
                    </header>
                    <md-input-container>
                        <label for="username">User name</label>
                        <input type="text" id="username" ng-model="profile.username"></input>
                    </md-input-container>
                    <ui-select ng-model="profile.localisation"
                               theme="selectize"
                               reset-search-input="false">
                        <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
                        <ui-select-choices repeat="address in addresses track by $index"
                                           refresh="refreshAddresses($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <p>Links</p>
                    <md-input-container>
                        <label><i class="fa fa-twitter-square"></i> Twitter ID (without the @ sign}</label>
                        <input type="text" ng-model="profile.twitterId">
                    </md-input-container>
                    <md-input-container>
                        <label><i class="fa fa-facebook-square"></i> Facebook Name </label>
                        <input type="text" ng-model="profile.facebookId">
                    </md-input-container>
                    <md-input-container>
                        <label><i class="fa fa-google-plus-square"></i> Google Plus ID (without the + sign)</label>
                        <input type="text" ng-model="profile.googlePlusId">
                    </md-input-container>
                    <md-input-container>
                        <label><i class="fa fa-external-link-square"></i> Website (including http://)</label>
                        <input type="text" ng-model="profile.websiteUrl">
                    </md-input-container>

                    <p>Own tags</p>
                    <tag-manager model="profile.tags"></tag-manager>

                    <p>Following tags</p>
                    <tag-manager model="followingTags"></tag-manager>

                     <section layout="column">
                        <md-button class="md-primary md-whiteframe-z2" ng-click="editPageModal()">
                            Edit your personal page
                        </md-button>
                        <md-button class="md-primary md-whiteframe-z2" ng-click="cropPosterModal()">
                            Change poster
                        </md-button>
                        <md-button class="md-primary md-whiteframe-z2" ng-click="resetPassModal()">
                            Reset Password
                        </md-button>
                    </section>
                    <section layout="column">

                        <md-divider layout-margin></md-divider>

                        <header>
                            <h3 class="center">NOTIFICATIONS</h3>
                        </header>
                        <section>
                            <md-checkbox ng-model="profile.liveNotification">
                                Live
                            </md-checkbox>
                            <md-checkbox ng-model="profile.mailNotification">
                                Email
                            </md-checkbox>
                        </section>
                    </section>
                    <md-button class="md-raised md-primary update-button"  ng-click="updateProfile(profile)">Update Profile</md-button>
                </form>
            </md-content>
        </section>
    </md-content>
</md-content>