.home-header {
  background-size: cover;
  padding-top: 20px; }
  .home-header .content {
    padding-left: 50px; }
  .home-header h1 {
    margin-top: 0;
    text-decoration: underline; }

.item-list h1 {
  cursor: pointer;
  text-align: center;
  margin-top: 0px; }
.item-list .material-tile-content {
  padding-left: 20px; }

.item-block-container {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 100%; }
  .item-block-container .item-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(160, 166, 161, 0.4); }
  .item-block-container .ng-enter {
    -webkit-animation: fadeInDown 0.3s ease-in-out;
    animation: fadeInDown 0.3s ease-in-out; }
  .item-block-container .ng-leave {
    -webkit-animation: fadeOutUp 0.3s ease-in-out;
    animation: fadeOutUp 0.3s ease-in-out; }

.rotation.ng-enter {
  -webkit-animation: flipInX 1s;
  animation: flipInX 1s; }

.form-message.ng-enter {
  -webkit-animation: flipInX 0.5s;
  animation: flipInX 0.5s; }
.form-message.ng-leave {
  -webkit-animation: flipOutX 0.5s;
  animation: flipOutX 0.5s; }

.material-theme-black {
  background-color: #000000;
  color: #f5f5f5; }

.material-dialog-container {
  overflow-y: hidden; }

material-content {
  padding: 0px; }

.material-content {
  height: 100%;
  padding-top: 64px; }

material-tabs {
  padding-left: 0px !important;
  width: 100%; }

material-tab material-tab-label {
  color: #313131;
  background-color: #ffffff; }
  material-tab material-tab-label.active {
    color: black; }
  material-tab material-tab-label.disabled {
    color: #808080;
    background-color: #c1c1c1; }

.tabs-header {
  background-color: #ffffff; }

.tab-paginator {
  color: black !important;
  background-color: darkgray; }

.material-theme-white {
  color: black !important;
  background-color: white !important; }

material-card {
  background-color: #fdfff8;
  font-size: 0.8em;
  word-wrap: break-word;
  width: 180px; }
  material-card h4 {
    cursor: pointer;
    word-break: break-all; }
  material-card showtags {
    font-size: 0.7em; }

.material-sidenav-right {
  background-color: #fdfff8 !important; }

material-toast {
  min-height: 64px !important;
  z-index: 100; }

material-whiteframe {
  background-color: #fdfff8 !important; }

material-ink-bar {
  background-color: #5f9ea0 !important;
  height: 4px !important; }

material-dialog {
  width: 90%;
  height: 300px; }
  material-dialog material-toolbar {
    border-bottom: solid 1px black; }
  material-dialog material-content {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px; }

.material-button-fab .fa {
  margin: auto auto;
  position: relative; }

.material-sidenav-left {
  padding-left: 20px; }

.material-sidenav-right.open, .material-sidenav-right.open {
  z-index: 25 !important; }

form label {
  color: black;
  font-size: 1.2em; }
form input {
  border-color: black;
  width: 100%; }

div.mce-fullscreen {
  top: 64px !important; }

textarea {
  resize: none; }
  textarea.pretty-area {
    border: 3px solid #cccccc;
    padding: 5px;
    width: 100%; }

.my-btn {
  cursor: pointer;
  -webkit-transition: all 0.005s;
  transition: all 0.005s; }
  .my-btn :active {
    transform: scale(0.8);
    -webkit-transform: scale(0.8); }
  .my-btn.ng-leave {
    visibility: hidden; }
  .my-btn.active {
    border: 1px solid black;
    border-radius: 50%; }
  .my-btn.my-btn-picture {
    top: 10px;
    right: 10px; }
  .my-btn:hover {
    color: #6c7e6d; }

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px; }
  .fileUpload span {
    padding: 10px; }

.fileUpload input.custom-file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.form-message {
  color: red;
  text-align: center; }

.signin-form material-button {
  width: 100%;
  margin-left: 10px;
  text-align: right;
  padding-right: 15px; }
.signin-form label, .signin-form input {
  margin-left: 10px; }

.search-bar {
  z-index: 1000; }
  .search-bar .result-item {
    showtags-font-size: 0.6em; }

.plus-icon {
  cursor: pointer; }

.profile-menu material-button {
  width: 100%;
  margin-left: 10px;
  text-align: right;
  padding-right: 15px; }

.hidden {
  display: none; }

.img-rounded {
  border-radius: 100%; }

.menu material-button {
  width: 100%;
  margin-left: 10px;
  text-align: right;
  padding-right: 15px; }

.main-footer {
  background-color: black; }
  .main-footer a {
    color: #ccc; }
  .main-footer p {
    color: #999; }

.participate-btn {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto; }

.chat-container {
  margin-top: 30px; }

.chat-zone {
  background-color: white;
  height: 350px;
  margin-right: 15px !important;
  overflow: auto; }

.challenge-home {
  background-color: #f0f1f1; }
  .challenge-home section .html-content {
    min-height: 400px;
    border-right: solid 1px black;
    margin-top: 30px; }

.apply-table {
  margin-bottom: 20px;
  border-collapse: collapse;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }
  .apply-table .th, .apply-table .td {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(0, 0, 0, 0.25); }
  .apply-table .th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(0, 0, 0, 0.45);
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    height: 50px; }
  .apply-table .td {
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    height: 120px; }
  .apply-table .tr {
    -webkit-transition: "background 0.3s, box-shadow 0.3s";
    -moz-transition: "background 0.3s, box-shadow 0.3s";
    -o-transition: "background 0.3s, box-shadow 0.3s";
    -ms-transition: "background 0.3s, box-shadow 0.3s";
    transition: "background 0.3s, box-shadow 0.3s"; }
    .apply-table .tr:hover {
      background: rgba(0, 0, 0, 0.19); }

.nav-project {
  margin: auto;
  width: 100%; }

.list-resource {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 20px;
  padding-left: 20px; }

material-tabs {
  padding-left: 30px; }

.owner-topic {
  background: #b2c9bc; }

.follower-topic {
  background: #faffc1; }

.visitor-topic {
  background: #fff4f4; }

.member-topic {
  background: #e0ffda; }

.dropbox {
  min-height: 70px;
  max-height: 300px;
  width: 70%;
  margin: auto;
  border: 1px #828282 solid;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }

.dropbox-dragover {
  border: 1.5px #828282 dashed;
  height: 300px; }

#services {
  background-color: #62c1c1;
  color: #ffffff; }

#services .fa {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px; }

.list-carousel-challenge {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.carousel-body {
  height: 100%; }

.rn-carousel-control {
  color: black !important;
  font-size: 5em !important; }

.rn-carousel-indicator {
  height: 50px !important;
  bottom: 20px;
  background-color: #c9c9c9; }

.home-project-container {
  margin-top: 20px;
  margin-bottom: 20px; }

.d3-tag {
  -webkit-transition: font-size 0.3s ease-in-out;
  -moz-transition: font-size 0.3s ease-in-out;
  -ms-transition: font-size 0.3s ease-in-out;
  -o-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out; }
  .d3-tag:hover {
    font-size: 3.5em !important; }

.node {
  stroke: #fff;
  stroke-width: 5px; }

.link-user {
  stroke: #9ac674; }

.link-project {
  stroke: #9ad5ff; }

.link-challenge {
  stroke: #be964d; }

.text-user {
  stroke: #9ac674;
  stroke-width: 0.5px; }

.text-project {
  stroke: #9ad5ff;
  stroke-width: 0.5px; }

.text-challenge {
  stroke: #be964d;
  stroke-width: 0.5px; }

.participate-btn {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto; }

.chat-container {
  margin-top: 30px; }

.chat-zone {
  background-color: white;
  height: 350px;
  margin-right: 15px !important;
  overflow: auto; }

.challenge-home {
  background-color: #f0f1f1; }
  .challenge-home section .html-content {
    min-height: 400px;
    border-right: solid 1px black;
    margin-top: 30px; }

body, html {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 100%;
  max-width: 100%;
  font-family: 'Fira Sans'; }

.main-header {
  z-index: 15;
  position: relative;
  background-color: white;
  border-bottom: slategrey solid 1px; }

header {
  margin-bottom: 0px !important; }

.center {
  text-align: center; }

.tag {
  cursor: pointer;
  font-size: 1.1em; }

@media all and (min-width: 700px) {
  .project-modal {
    max-height: 800px; }
  .profile-picture {
    width: 40%; }
  .right-part {
    margin-left: 20px; }
  .carousel-body {
    padding-left: 100px; }
  material-card {
    width: 180px; }
  material-dialog {
    width: 60%;
    height: 900px; } }
