
$backgroundForm : rgba(240, 240, 241, 0.9);
$footerBg : #000000;

$opacityTiming : 0.5s;
$opacityIndex : 0.2;
$opacityIndexHover : 0.9;

$headerGrey : rgb(46,45,48);
$headerYellow : rgb(245,230,24);

$baseColor : rgb(0, 51, 102);

@import "../modules/auth/sass/auth";
@import "../modules/header/sass/header";
@import "../modules/footer/sass/footer";
@import "../modules/challenge/sass/challenge";
@import "../modules/project/sass/project";
@import "../modules/workspace/sass/workspace";
@import "../modules/home/sass/home";
@import "../modules/d3/sass/d3";
@import "../modules/admin/challenge/sass/adminChallenge";
@import "../modules/admin/profile/sass/adminProfile";
@import "../modules/etherpad/sass/etherpad";


body,html{
  overflow-x: hidden !important;
  overflow-y : hidden !important;
  height: 100%;
  max-width: 100%;
  font-family: 'Fira Sans' !important;
}

.main-header{
  z-index: 15;
  position:relative;
  background-color: white;
  border-bottom: none;
}

header{
  margin-bottom :  0px !important;;
}

.center{
  text-align : center;
}

.tag{
  cursor:pointer;
  font-size: 1.1em;
}

.baseColor {
  color: $baseColor;
}

.add-icon {
  width: 10px;
}

.idea-icon {
  font-size: 30px;
  color: $baseColor;
}

.top-bar-icon {
  margin-left: 10px;
}

.select-poster-image {
  width: 25px;
  height: 25px;
}

.cursor-hand {
  cursor: pointer;
}

.show-line-breaks {
  white-space: pre-line;
}

.top-bar-icon-svg {
  width: 24px; 
  height: 31px;
}

.top-bar-icon .tooltip-topbar-icon {
  display: none;
  position: absolute;
  color: white;
  background-color: #152661;
  border: 1px black solid;
}

.top-bar-icon:hover .tooltip-topbar-icon {
  display: block;
}

.boxContent {
  max-width: 900px;
}

.update-button {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}

.img-profile-page {
  width: 200px;
  height: 200px;
  margin: auto;
}
