
$backgroundForm : rgba(240, 240, 241, 0.9);
$footerBg : #000000;

$opacityTiming : 0.5s;
$opacityIndex : 0.2;
$opacityIndexHover : 0.9;

$headerGrey : rgb(46,45,48);
$headerYellow : rgb(245,230,24);

@import "../modules/common/sass/common";
@import "../modules/common/sass/animation";
@import "../modules/common/sass/material-redesign";
@import "../modules/common/sass/form";
@import "../modules/auth/sass/auth";
@import "../modules/header/sass/header";
@import "../modules/footer/sass/footer";
@import "../modules/challenge/sass/challenge";
@import "../modules/project/sass/project";
@import "../modules/workspace/sass/workspace";
@import "../modules/home/sass/home";
@import "../modules/d3/sass/d3";
@import "../modules/challenge/sass/challenge";



body,html{
  overflow-x: hidden !important;
  overflow-y : hidden !important;
  height: 100%;
  max-width: 100%;
  font-family: 'Fira Sans' !important;
}

.main-header{
  z-index: 15;
  position:relative;
  background-color: white;
  border-bottom:slategrey solid 1px;
}

header{
  margin-bottom :  0px !important;;
}

.center{
  text-align : center;
}

.tag{
  cursor:pointer;
  font-size: 1.1em;
}

@import "../modules/common/sass/media-queries";