<section class="container">
    <form class="form-horizontal" role="form" >
        <section class="row">
            <section class="col-xs-12 col-sm-6">
                <h2>Edit basic information</h2>
                <form class="panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                    <span class="material-input-group">
                        <label for="realName">Real name</label>
                        <input id="realName" type="text" ng-model="profile.realname">
                    </span>
                        </div>
                        <div class="form-group">
                            <div tag-manager entity='profile' ng-model='profile.tags'></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-info btn-block" ng-click="updateProfile(profile)">Update Profile</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <section class="col-xs-12 col-sm-6">
                <h2>Change your password</h2>
                <form name='passf' class=" panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                    <span class="material-input-group">
                        <label for="password1">Your new Password</label>
                        <input id="password1" type="password" ng-model="profile.password" required="">
                    </span>
                        </div>
                        <div class="form-group">
                    <span class="material-input-group">
                        <label for="password2">Your new Password again</label>
                        <input id="password2" type="password" ng-model="profile.password2" required="">
                    </span>
                            <span class="alert alert-info" ng-show="notMatch">{{'USERSET_PASS_NOTMATCH'|translate}}</span>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-info btn-block" ng-click="updatePass()" ng-disabled="passf.$invalid" >Change your password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </section>
        <section class="row">
            <form class=" panel-default">
                <div class="panel-body">
                    <h2>Add some description of yourself</h2>
                    <div class="form-group">
                        <div class="col-md-12 ">
                            <textarea ui-tinymce="tinymceOption" name='brief' class="form-control" ng-model="profile.brief"/></textarea>
                        </div>
                    </div>
                    <h2>Add some embeded content (youtube,vimeo,slideshare...)</h2>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ui-ace="{mode : 'html'}" class="form-control" ng-model="profile.presentation" style="width:100%;height:100px"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-info btn-block" ng-click="updateProfile(profile)">{{'BTN_SAVE'|translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </form>
</section>