<section class="row" style="height:100%;" id="profile">
    <section class="col-md-3">
        <article class="panel-default" style="padding-left: 20px;">
            <div>
                <img ng-src="{{profile.poster || 'images/avater.jpg'}}"  width="80%">
            </div>
            <p>
                <a href="" ng-click="editPicture()" ng-if="me.id == profile.id" style="display: block;">Edit profile picture</a>
            </p>
            <p>
                <i class="fa fa-map-marker fa-2x"></i>
                <address ng-bind="profile.location.formatted_address" class="text-muted"></address>
            </p>

            <p ng-bind-html="profile.brief"></p>
            <p>
                <i class="fa fa-tags fa-2x"></i>
                <span showtags entity="profile">
                </span>
            </p>

        </article>
    </section>
    <section class="col-md-6">
        <article>
            <h1 ng-bind="profile.realname || profile.username"></h1>
            <p class="text-muted">
                {{ profile.challenges.length }} challenges . {{ profile.projects.length }} projects
            </p>
            <p class="text-muted">
                {{ profile.followers.length }} followers . {{ profile.followings.length }} following
                <i class="fa fa-star my-btn"></i> follow
            </p>
            <section ng-if="me.id == profile.id" ng-include="'modules/header/templates/notifications.tpl.html'" style="width:100%;">

            </section>
            <section ng-if="me.id != profile.id" class="embed-responsive-item center">
                <div class="embed-responsive embed-responsive-16by9" ng-bind-html="profile.securePresentation"></div>
            </section>
        </article>
    </section>
    <section class="col-md-3" >
        <div class="pull-right" style="width:300px;">
            <section class="panel-default">
                <article class="panel-body">
                    <h4>
                        You should speak with :
                    </h4>
                    <div class="media-list">
                        <div ng-repeat="user in recommandation.users">
                            <user-list user-id="user.id"></user-list>
                        </div>
                    </div>
                </article>
            </section>
            <section class="panel-default">
                <article class="panel-body">
                    <h4>
                        You should participate to :
                    </h4>
                    <div class="media-list">
                        <div ng-repeat="challenge in recommandation.challenges">
                            <challenge-list challenge-id="challenge.id"></challenge-list>
                        </div>
                    </div>
                </article>
            </section>
            <section class="panel-default">
                <article class="panel-body">
                    <h4>
                        You should take a look to :
                    </h4>
                    <div class="media-list">
                        <div ng-repeat="project in recommandation.projects">
                            <project-list project-id="project.id"></project-list>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </section>
</section>
<section class="row" style="padding: 30px;height:100%;" id="challenges">
    <h2>Challenges</h2>
    <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="challenge in profile.challenges">
        <div class="thumbnail">
            <img ng-src="{{challenge.poster || 'http://placehold.it/300x300'}}" alt="..." width="100%">
            <article class="caption">
                <h1>{{ challenge.title }}</h1>
                <p class="text-muted">
                    By :
                    <span class="text-muted" user-info="challenge.owner"></span>
                </p>
                <p class="text-muted" ng-bind-html="challenge.brief" style="max-height:200px;overflow:auto;"></p>
                <showtags entity="challenge">
                </showtags>
                <div class="row">
                    <div class="col-xs-4">
                        <div>
                            {{ challenge.followers.length }}
                        </div>
                        <p class="text-muted">
                            Followers
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <div>
                            {{ challenge.projectNumber }}
                        </div>
                        <p class="text-muted">
                            Projects
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p ng-if="challenge.startDate < now && challenge.endDate > now" class="text-muted">
                            <timer end-time="challenge.endDate" >End in: {{days}}d,{{hours}}h:{{minutes}}m</timer>
                        </p>
                        <p ng-if="challenge.startDate > now" class="text-muted">
                            <timer end-time="challenge.endDate" >Start in: {{days}}d,{{hours}}h{{minutes}}m</timer>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<section class="row" style="padding: 30px; height: 100%;" id="projects">
    <h2>Projects</h2>
    <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="project in profile.projects">
        <div class="thumbnail">
            <img ng-src="{{project.poster || 'http://placehold.it/300x300'}}" alt="..." width="100%">
            <article class="caption">
                <h1>{{ project.title }}</h1>
                <p class="text-muted">
                    By :
                    <span class="text-muted" user-info="project.owner"></span>
                </p>
                <p class="text-muted" ng-bind-html="project.brief" style="max-height:200px;overflow:auto;"></p>
                <showtags entity="project">
                </showtags>
                <div class="row">
                    <div class="col-xs-4">
                        <div>
                            {{ project.followers.length }}
                        </div>
                        <p class="text-muted">
                            Followers
                        </p>
                    </div>
                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                        <div>
                            {{ project.member.length }}
                        </div>
                        <p class="text-muted">
                            Member
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>