<material-whiteframe class="material-whiteframe-z1" layout="vertical" layout-align="">
    <material-toolbar layout="horizontal" layout-align="start end" style="text-align:right;">
        <i class="fa fa-times fa-2x my-btn" ng-click="cancel()"></i>
    </material-toolbar>
    <textarea ui-tinymce="tinymceOption" ng-model="commentValue" placeholder="I think..." required ></textarea>
    <footer>
        <material-button flex class="material-button-raised" ng-click="addComment()">{{ 'BTN_COMMENT' | translate }}</material-button>
    </footer>
</material-whiteframe>