<div>
    <md-button ng-click="uploadFileModal($event)">
        <i class="fa fa-upload"></i> Upload
    </md-button>
    <md-input-container >
        <label for="filter" class="fa fa-search">Filter by name</label>
        <input type="text" ng-model="fileFilter.originalName" id="filter"/>
    </md-input-container>
</div>

<md-list class="list-resource">
    <md-item ng-repeat="file in files | filter:fileFilter">
        <div class="md-tile-content">
            <i class="fa {{ file.class }} fa-2x icon-file" ng-class="{ 'file-selected' : file.id == fileDetails.id  }" ng-click="showFileDetails(file)" ></i>
            <md-button ng-click="detailsFileModal($event,file)">
                {{ file.originalName }}
            </md-button>
            <span>{{ file.description }}</span>
        </div>
    </md-item>
</md-list>