<material-toolbar class="material-theme-black" scroll-shrink>
    <div display="vertical">
        <div class="center" flex>
            {{ project.title }} workspace
        </div>
        <material-tabs center selected="selectedTabIndex">
            {{ note.title }}
            <material-tab ui-sref="workspace.hackpad">
                <material-label>
                    <i class='fa fa-trello fa-2x'></i>
                </material-label>
            </material-tab>
            <material-tab ui-sref="workspace.files">
                <material-label>
                    <i class='fa fa-file fa-2x'></i>
                </material-label>
            </material-tab>
            <material-tab ui-sref="workspace.resources">
                <material-label style="font-size:2em">
                    @
                </material-label>
            </material-tab>
        </material-tabs>
    </div>
</material-toolbar>

<material-content flex>
    <section ui-view="noteDetailsView" flex></section>
</material-content>
