<section layout="column">
    <md-button ng-click="addResourceModal($event)">
        <i class="md-button-icon fa fa-plus fa-2x"></i>
        <span>
            Add a link
        </span>
    </md-button>

    <md-input-container >
        <label for="urlFilter"><i class="fa fa-search fa-2x"></i> Filter by title</label>
        <input type="text" ng-model="urlFilter.title" id="urlFilter"/>
    </md-input-container>

    <md-list class="list-resource">
        <md-item ng-repeat="url in urls | filter:urlFilter">
            <div class="md-tile-content" layout="column" layout-align="start center">
                <p>
                    <a ng-href="{{ url.text }}" target="_blank" class="url">{{ url.title }}</a>
                    <md-button ng-click="removeUrl(url)"><i class="fa fa-times"  analytics-on analytics-event="removeLink"></i></md-button>
                </p>
                <p>
                    {{ url.description }}
                </p>
            </div>
            <!-- <div class="md-tile-right">
                <user-block userId="url.owner" height="50px"></user-block>
            </div> --> 
        </md-item>
    </md-list>
</section>
