<section layout="vertical">
    <div layout="horizontal" layout-align="start center">
        <material-button ng-click="addResourceModal($event)" flex>
            <span>
                Add a resource
            </span>
            <i class="material-button-icon fa fa-plus fa-2x"></i>
        </material-button>

        <material-input-group >
            <label for="urlFilter">Filter by title <i class="fa fa-search fa-2x"></i></label>
            <material-input type="text" ng-model="urlFilter.title" id="urlFilter"/>
        </material-input-group>
    </div>

    <material-list class="list-resource">
        <material-item ng-repeat="url in urls | filter:urlFilter">
            <div class="material-tile-content" layout="vertical" layout-align="start center">
                <p>
                    <a ng-href="{{ url.text }}" target="_blank" class="url">{{ url.title }}</a>
                    <material-button ng-click="removeUrl(url)"><i class="fa fa-times"></i></material-button>
                </p>
                <p>
                    {{ url.description }}
                </p>
            </div>
            <!-- <div class="material-tile-right">
                <user-block userId="url.owner" height="50px"></user-block>
            </div> --> 
        </material-item>
    </material-list>
</section>
