<div class="container">
    <div class="row" ng-controller="CreateChallengeCtrl">

        <ng-include src="'views/admin/tabs.html'"></ng-include>

        <form class="form-horizontal mtl pal" role="form" >

            <div class="form-group">
                <label  class="col-md-2 col-sm-2 control-label">{{'CHALLENGE_TITLE'|translate}}</label>
                <div class="col-md-6 col-sm-6 col-mx-8">
                    <input type="text" name='title' class="form-control" ng-model="challenge.title"/>
                </div>
            </div>

            <div class="form-group">
                <label  class="col-md-2 col-sm-2 control-label">{{'CHALLENGE_BRIEF'|translate}}</label>
                <div class="col-md-6 col-sm-6 col-mx-8">
                    <input type="text" name='brief' class="form-control" ng-model="challenge.brief"/>
                </div>
            </div>

            <!--<div class="form-group">
                <label  class="col-md-2 col-sm-2 control-label">{{'USERSET_BASIC_GENDER'|translate}}</label>
                <div class="col-md-6 col-sm-6 col-mx-8">
                    <select ng-model="profile.sex" class="form-control" >
                        <option value='0'>{{'USERSET_BASIC_H'|translate}}</option>
                        <option value='1'>{{'USERSET_BASIC_M'|translate}}</option>
                        <option value='2'>{{'USERSET_BASIC_F'|translate}}</option>
                    </select>
                </div>
            </div>-->

            <div class="form-group">
                <label  class="col-md-2 col-sm-2 control-label">{{'USERSET_BASIC_CATEGORY'|translate}}</label>
                <div class="col-md-6 col-sm-6 col-mx-8">
                    <select ng-model="meta.cat" class="form-control" ng-options="cat for cat in catogories"></select>
                </div>
            </div>
            <div ng-if="meta.cat=='PhD'" class="form-group">
                <label  class="col-md-2 col-sm-2 control-label">入学时间</label>
                <div class="col-md-6 col-sm-6 col-mx-8">
                    <select ng-model="meta.entertime" class="form-control"  ng-options="year for year in enteryears"></select>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-2 col-sm-2 control-label">院系</label>
                <div class="col-md-6 col-sm-6 col-mx-8">
                    <select ng-model="meta.department" class="form-control" ng-change="selectSchool()"  ng-options="dp.school as dp.school for dp in departments" >
                    </select>
                </div>
            </div>
            <div class="form-group" ng-show="majors">
                <label  class="col-md-2 col-sm-2 control-label">专业</label>
                <div class="col-md-6 col-sm-6 col-mx-8">
                    <select ng-model="meta.major" class="form-control" ng-options="major for major in majors" >
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label  class="col-md-2 col-sm-2 control-label">自我介绍</label>
                <div class="col-md-6 col-sm-6 col-mx-8">
                    <textarea name='brief' class="form-control" ng-model="meta.brief"/></textarea>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-6 col-sm-6 col-mx-8 col-md-offset-2 col-sm-offset-2">
                    <button class="btn btn-success" ng-click="saveUserMeta()">{{'BTN_SAVE'|translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
