<material-whiteframe class="material-whiteframe-z1" layout="vertical" layout-align="" style="width:90%;">
    <material-toolbar layout="horizontal" layout-align="">
        <div flex layout layout-align="start center">
            <material-button ui-sref="challenge({pid : challenge.accessUrl})" flex>
                {{ challenge.title }}
            </material-button>
        </div>
        <material-button class ng-click="cancel()">
            <i class="fa fa-times"></i>
        </material-button>
    </material-toolbar>
    <material-content>
        <material-list>
            <material-item ng-repeat="project in projects">
                <div class="material-tile-left">
                    <img ng-src="{{ project.poster }}" alt="{{ project.title }}'s poster" class="img-rounded" width="100px" height="100px"/>
                </div>
                <div class="material-tile-content" ui-sref="project.home({ pid : project.acessUrl })">
                    <div>
                        {{ project.title }}
                    </div>
                    <div>
                        {{ project.brief }}
                    </div>
                </div>
                <div class="material-tile-right">
                    {{ project.noteNumber }}
                    &nbsp;publication
                </div>
            </material-item>
        </material-list>
        <!--<project-block my-project="project" ng-repeat="project in projects" width="'100px'" height="'100px'"></project-block>-->
    </material-content>
</material-whiteframe>