<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 flex>
                {{ challenge.title }}
            </h1>
            <md-button class="md-fab" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-item ng-repeat="project in projects">
                <md-item-content>
                    <div class="md-tile-left">
                        <a ui-sref="project.home({ pid : project.accessUrl })" ng-click="cancel()">
                            <img ng-src="{{ project.poster || '/images/placeholder100x100.png' }}" alt="{{ project.title }}'s poster" class="img-rounded" width="100px" height="100px"/>
                        </a>
                    </div>
                    <div class="md-tile-content">
                        <div>
                            <a ui-sref="project.home({ pid : project.accessUrl })" ng-click="cancel()">
                                {{ project.title }}
                            </a>
                        </div>
                        <div>
                            {{ project.brief }}
                        </div>
                        </a>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</md-dialog>