<md-content flex>
    <h2>{{ title }}</h2>
    <md-form layout="column">
        <md-input-container>
            <label for="title">Title</label>
            <input id="title" type="text" ng-model="idea.title" />
        </md-input-container>

        <tag-manager entity="idea"></tag-manager>

        <md-input-container>
            <label>What's your idea?</label>
            <textarea placeholder="What's your idea?" ng-model="idea.brief" rows="5"></textarea>
        </md-input-container>

        <div>
            <md-button style="width:100%;" ng-click="onDone()" class="md-raised">Submit Idea</md-button>
        </div>
    </md-form>
</md-content>