<md-toolbar scroll-shrink>
    <div layout="column" class="content">
        <h1>
            {{ idea.title }}
        </h1>
    </div>

    <div ng-if="isFollow">
        <i class="fa fa-star baseColor"></i> Following
    </div>

    <md-button class="md-fab md-raised" ng-click="follow()" style="position:absolute; right:20px; z-index: inherit" ng-class="{ 'md-accent' : isFollowing() }" ng-if="currentUser && !isOwner">
        <i class="fa fa-thumbs-up"></i>
    </md-button>
</md-toolbar>

<md-content layout="column" layout-fill>
    <div flex>
        <h3 class="show-line-breaks">{{ idea.brief }}</h3>

        <div layout="column">
            <md-button ui-sref="editIdea({ iid : idea._id })" ng-if="isOwner">
                <i class="fa fa-pencil-square-o baseColor"></i> Edit
            </md-button>

            <div layout="row">
                <div>
                    <span>
                        {{ idea.followers.length }}
                    </span>
                    <span class="text-muted">
                        &nbsp;followers
                    </span>
                    <span>
                        {{ idea.challenges.length }}
                    </span>
                    <span class="text-muted">
                        &nbsp;challenges
                    </span>
                    <span>
                        {{ idea.projects.length }}
                    </span>
                    <span class="text-muted">
                        &nbsp;projects
                    </span>
                </div>
            </div>
        </div>

        <div layout="column">
            <showtags entity="idea"></showtags>

            <list-notes idea="idea" current-user="currentUser"></list-notes>
        </div>

        <div flex>
            <h3>Related Projects</h3>

            <md-grid-list md-cols="3" md-row-height="400px">
                <md-grid-tile ng-repeat="project in idea.projects">
                    <div layout="column" style="height: 400px;">
                        <project-card project-id="project"></project-card>
                        <md-button ng-click="removeLinkToProject(project)">
                            <i class="fa fa-times baseColor"></i> Remove Project
                        </md-button>
                    </div>
                </md-grid-tile>
            </md-grid-list>

            <ui-select ng-model="newLink.project" theme="selectize">
                <ui-select-match placeholder="A related project...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="project in projects">
                    <img ng-src="{{ project.poster || '/images/placeholder25x25.png' }}" class="select-poster-image"/>
                    <small>
                        {{project.title}}
                    </small>
                </ui-select-choices>
            </ui-select>

            <md-button ng-click="addLinkToProject()">
                <i class="fa fa-plus baseColor"></i> Add Project
            </md-button>

            <h3>Related Challenges</h3>

            <md-grid-list md-cols="3" md-row-height="400px">
                <md-grid-tile ng-repeat="challenge in idea.challenges">
                    <div layout="column">
                        <challenge-card challenge-id="challenge"></challenge-card>
                        <md-button ng-click="removeLinkToChallenge(challenge)">
                            <i class="fa fa-times baseColor"></i> Remove Challenge
                        </md-button>
                    </div>
                </md-grid-tile>
            </md-grid-list>

            <ui-select ng-model="newLink.challenge" theme="selectize">
                <ui-select-match placeholder="A related challenge...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="challenge in challenges">
                    <img ng-src="{{ challenge.poster || '/images/placeholder25x25.png' }}" class="select-poster-image"/>
                    <small>
                        {{challenge.title}}
                    </small>
                </ui-select-choices>
            </ui-select>

            <md-button ng-click="addLinkToChallenge()">
                <i class="fa fa-plus baseColor"></i> Add Challenge
            </md-button>
        </div>
    </div>
</md-content>