<md-content>
    <md-content layout="row" layout-align="center" layout-margin>
        <section class="md-whiteframe-z2" flex-gt-sm="95" layout="column">
            <md-toolbar scroll-shrink  layout-padding>
                <div layout="column" class="content">
                    <h1>
                        {{ idea.title }}
                    </h1>
                </div>

                <div ng-if="isFollowing()">
                    <i class="fa fa-star baseColor"></i> Following
                </div>

                <md-button class="md-fab md-raised" ng-click="follow()" style="bottom:-24px;position:absolute; right:20px;z-index : inherit" ng-class="{ 'md-accent' : isFollowing() }" ng-if="currentUser">
                    <i class="fa fa-eye"></i>
                </md-button>
                <md-button class="md-fab md-raised" ng-click="like()" style="bottom:-24px;position:absolute; right:90px;z-index : inherit" ng-class="{ 'md-accent' : isLike }" ng-if="currentUser">
                    <i class="fa fa-thumbs-up"></i>
                </md-button>
            </md-toolbar>

            <md-content layout="column" layout-fill layout-padding>
                <div flex>
                    <h3 class="show-line-breaks">{{ idea.brief }}</h3>

                    <div layout="column">
                        <md-button ui-sref="editIdea({ iid : idea._id })" ng-if="isOwner">
                            <i class="fa fa-pencil-square-o baseColor"></i> Edit
                        </md-button>

                        <md-button ng-click="removeIdea()" class="md-warn" ng-if="isOwner">
                            <i class="fa fa-trash"></i> Remove
                        </md-button>

                        <div layout="row">
                            <div>
                                <span>
                                    {{ idea.followers.length }}
                                </span>
                                <span class="text-muted">
                                    &nbsp;followers
                                </span>
                                <span>
                                    {{ idea.likerIds.length }}
                                </span>
                                <span class="text-muted">
                                    &nbsp;likes
                                </span>
                                <span>
                                    {{ idea.challenges.length }}
                                </span>
                                <span class="text-muted">
                                    &nbsp;challenges
                                </span>
                                <span>
                                    {{ idea.projects.length }}
                                </span>
                                <span class="text-muted">
                                    &nbsp;projects
                                </span>
                            </div>
                        </div>
                    </div>

                    <div layout="row" layout-align="start center">
                        <div>Created by</div>
                        <user-info my-user="idea.owner"></user-info>
                    </div>

                    <div layout="row" layout-align="start center">
                        <div>Followed by</div>
                        <div layout="row" layout-wrap>
                            <user-info my-user="follower" ng-repeat="follower in idea.followers"></user-info>
                        </div>
                    </div>

                    <div layout="column">
                        <show-tags model="idea.tags"></show-tags>

                        <list-notes idea="idea" current-user="currentUser"></list-notes>
                    </div>

                    <div flex>
                        <h3>Related Projects</h3>

                        <md-grid-list md-cols="3" md-row-height="500px">
                            <md-grid-tile ng-repeat="project in idea.projects">
                                <div layout="column" style="height: 400px;">
                                    <project-card project-id="project"></project-card>
                                    <md-button ng-click="removeLinkToProject(project)">
                                        <i class="fa fa-times baseColor"></i> Remove Project
                                    </md-button>
                                </div>
                            </md-grid-tile>
                        </md-grid-list>

                        <h3>Related Challenges</h3>

                        <md-grid-list md-cols="3" md-row-height="500px">
                            <md-grid-tile ng-repeat="challenge in idea.challenges" style="height: 400px">
                                <div layout="column">
                                    <challenge-more-card challenge-id="challenge"></challenge-more-card>
                                    <md-button ng-click="removeLinkToChallenge(challenge)">
                                        <i class="fa fa-times baseColor"></i> Remove Challenge
                                    </md-button>
                                </div>
                            </md-grid-tile>
                        </md-grid-list>

                        <h3>Add related project or challenge</h3>

                        <search-bar include="['challenges', 'projects']" filter="filterNewRelation" on-selection="addNewRelation"></search-bar>
                    </div>
                </div>
            </md-content>
        </section>
    </md-content>
</md-content>