<md-dialog>
    <md-toolbar>
        <div layout="row" layout-align="start center">
            <div>
                <md-checkbox ng-model="note.public" aria-label="Checkbox 1">
                    Public ?
                </md-checkbox>
            </div>
            <div flex class="center">
                Note
            </div>
            <md-button class="md-button-fab"  ng-click="createNote(note)" >
                <i class="fa fa-check "></i>
            </md-button>
            <md-button ng-click="cancel()" block class="md-button-fab">
                <i class="fa fa-times" ></i>
            </md-button>
            <!--<md-button  style="font-size: 1.6em">-->
                <!--<i class="fa fa-check">Save</i>-->
            <!--</md-button>-->
            <!--<i class="fa fa-times fa-2x my-btn" ng-click="cancel()" block></i>-->
        </div>
    </md-toolbar>
    <md-content>
        <form name="noteForm" layout="column">
            <ui-select ng-model="note.type" theme="selectize" style="width: 100%;">
                <ui-select-match placeholder="Select the type of note you want write">
                    <i class="fa fa-2x" ng-class="{'fa-comments' : $select.selected.id == 1,'fa-tasks' : $select.selected.id == 2, 'fa-flask' : $select.selected.id == 3,'fa-graduation-cap':$select.selected.id == 4 }"></i>
                    {{$select.selected.title}}
                </ui-select-match>
                <ui-select-choices repeat="category in categories">
                    <i class="fa fa-2x" ng-class="{'fa-comments' : category.id == 1,'fa-tasks' : category.id == 2, 'fa-flask' : category.id == 3,'fa-graduation-cap':category.id == 4 }"></i>
                    <span ng-bind-html="category.title | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
            <md-input-group>
                <label for="title">Title</label>
                <md-input id="title" type="text" ng-model="note.title" />
            </md-input-group>
            <textarea ui-tinymce="tinymceOptions" ng-model="note.text"></textarea>
        </form>
    </md-content>
</md-dialog>
