<md-dialog>
    <md-toolbar>
        <div layout="row">
            <div flex></div>
            <md-button class="md-fab" ng-click="addUrl(url)" analytics-on analytics-event="createLink">
                <i class="fa fa-save"></i>
            </md-button>
            <md-button class="md-fab" ng-click="cancel()">
                <i class="fa fa-times" ></i>
            </md-button>

        </div>

    </md-toolbar>
    <md-content>
        <form name="resourceForm">
            <md-input-container>
                <label for="title">Link name</label>
                <input type="text" id="title" ng-model="url.title" required/>
            </md-input-container>
            <md-input-container>
                <label for="url">URL (http://...)</label>
                <input type="url" id="url" ng-model="url.text" required />
            </md-input-container>
            <md-input-container>
                <label for="description">Description</label>
                <input type="text" id="description" ng-model="url.description"/>
            </md-input-container>
        </form>
    </md-content>
</md-dialog>