<md-dialog class="upload-file-modal">
    <md-toolbar layout="row" layout-align="start end">
        <div flex></div>
        <div class="faa-spin animated" ng-if="isUploading">
            <i class="fa fa-spinner fa-2x"></i>
        </div>
        
        <div ng-if="file">
            <md-button class="md-fab" ng-click="upload(file, file.description)">
                <i class="fa fa-cloud-upload"></i>
            </md-button>
            <md-button class="md-fab" ng-click="cancelUpload()">
                <i  class="fa fa-2x fa-ban"></i>
            </md-button>
        </div>
        <md-button class="md-fab" ng-click="cancel()">
            <i class="fa fa-times"></i>
        </md-button>
    </md-toolbar>
    <md-content>
        <div class="dropbox" ngf-drop ng-model="selectedFiles" ngf-drag-over-class="dropbox-dragover" style="background-image:url({{ fileUrl }})" flex></div>
        <md-button ngf-select ng-model="selectedFiles">Pick file or drop above</md-button>
        <md-input-container>
            <label >File description.</label>
            <input type="text" ng-model="description" />
        </md-input-container>
    </md-content>
</md-dialog>