<md-dialog>
    <md-toolbar>
        <div layout="row">
            <div flex></div>
            <md-button class="md-fab" ng-href="{{ fileDetails.url }}" target="_blank">
                <i class="fa fa-download"></i>
            </md-button>
            <md-button class="md-fab" ng-click="removeFile()">
                <i class="fa fa-trash"></i>
            </md-button>
            <md-button class="md-fab" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <section>
            {{ fileDetails.originalName }}
        </section>
        <section layout="row">
            <p ng-bind="fileDetails.description" flex></p>
        </section>
        <section>
            <img ng-src="{{ fileDetails.url }}" width="100%" ng-if="isImage(fileDetails)"/>
            <video ng-src="{{ fileDetails.url }}" ng-if="isVideo(fileDetails)"></video>
            <pdf-js url="fileDetails.url" width="100%" height="400px" ng-if="isPdf(fileDetails)"></pdf-js>
            <g-doc-preview ng-if="isOfficeDoc(fileDetails)" doc-url="fileDetails.url"></g-doc-preview>
        </section>
    </md-content>
</md-dialog>