<md-dialog id="crop-poster-modal">
    <md-toolbar layout="horizontal" layout-align="">
        <div layout layout-align="start center">
            <span flex>Your profile page</span>
            <md-button class="md-button-fab" ng-click="cancel()">
                <i class="fa fa-times" ></i>
            </md-button>
        </div>
    </md-toolbar>
    <image-crop
            data-width="300"
            data-height="300"
            data-shape="circle"
            data-step="imageCropStep"
            data-result="imageCropResult"
            ></image-crop>

</md-dialog>