<!--<material-whiteframe class="material-whiteframe-z1" layout="vertical"  style="z-index: 19;">-->

<material-dialog>
    <material-toolbar layout="horizontal" layout-align="">
        <div layout layout-align="start center">
            <span flex>Profile edition</span>
            <material-button class="material-button-fab">
                <i class="fa fa-check" ng-click="updateProfile(profile)" style="color:green;"></i>
            </material-button>
            <material-button class="material-button-fab" ng-click="cancel()">
                <i class="fa fa-times" ></i>
            </material-button>
        </div>
    </material-toolbar>
    <material-content>
        <form name="descriptionForm">
            <textarea ui-tinymce="tinymceOption" name='brief' ng-model="profile.brief"/></textarea>
        </form>
    </material-content>
</material-dialog>

<!--</material-whiteframe>-->
