<material-dialog>
    <material-toolbar>
        <div layout layout-align="start center">
            <span flex>Reset Your password</span>
            <material-button class="material-button-fab" ng-click="updatePass()" style="color:green;">
                <i class="fa fa-check"></i>
            </material-button>
            <material-button class="material-button-fab" ng-click="cancel()">
                <i class="fa fa-times" ></i>
            </material-button>
        </div>
    </material-toolbar>
    <material-content>
        <form name='passf'>
            <material-input-group>
                <label for="pass1">Your new Password</label>
                <material-input type="password" id="pass1" ng-model="profile.password"></material-input>
            </material-input-group>
            <material-input-group>
                <label for="pass2">Repeat your new password</label>
                <material-input type="password" id="pass2" ng-model="profile.password2"></material-input>
            </material-input-group>
        </form>
    </material-content>
</material-dialog>