<section class="container">
    <h2 style="text-align: center;">
        {{ project.title }} Administration
    </h2>
    <tabset justified="true">
        <tab>
            <tab-heading>
                <i class="fa fa-list fa-2x"></i>
            </tab-heading>
            <div ng-include="'modules/projectSetting/templates/basic.tpl.html'" ng-controller="ProjectBasicCtrl"></div>
        </tab>
        <tab>
            <tab-heading>
                <i class="fa fa-file fa-2x"></i>
            </tab-heading>
            <div ng-include="'modules/projectSetting/templates/media.tpl.html'" ng-controller="ProjectMediaCtrl"></div>
        </tab>
        <tab>
            <tab-heading>
                <i class="fa fa-users fa-2x"></i>
            </tab-heading>
            <div ng-include="'modules/projectSetting/templates/team.tpl.html'" ng-controller="ProjectTeamCtrl"></div>
        </tab>
    </tabset>
</section>

<!--<material-tabs nobar selected="selectedTabIndex">-->
    <!--<material-tab ui-sref="project.settings.basic" label="<i class='fa fa-list fa-2x'></i>" >-->
    <!--</material-tab>-->
    <!--<material-tab ui-sref="project.settings.media" label="<i class='fa fa-file fa-2x'></i>" >-->
    <!--</material-tab>-->
    <!--<material-tab ui-sref="project.settings.apply" label="<i class='fa fa-users fa-2x'></i>" >-->
    <!--</material-tab>-->
    <!--<material-tab ui-sref="project.settings.team" label="<i class='fa fa-users fa-2x'></i>">-->
    <!--</material-tab>-->
    <!--<material-tab ui-sref="project.settings.trello" label="<i class='fa fa-trello fa-2x'></i>" >-->
    <!--</material-tab>-->
<!--</material-tabs>-->

<!--<section ui-view="settingView" class="container" style="height:100%">-->

<!--</section>-->
