<a ui-sref="project.home({ pid : project.accessUrl })">
    <img ng-src="{{project.poster || '/images/placeholder100x100.png'}}" alt="Project poster" class="md-card-image" width="100%">
</a>
<md-button class="md-fab md-mini follow md-raised" ng-click="follow()" ng-class="{ 'md-accent' : isFollow }" ng-if="currentUser && !isOwner">
    <i class="fa fa-eye"></i>
</md-button>
<md-button class="md-fab md-mini like md-raised" ng-click="like()" ng-class="{ 'md-accent' : isLike }" ng-if="currentUser && !isOwner">
    <i class="fa fa-thumbs-up"></i>
</md-button>
<md-content layout-padding style="cursor:hand;">
    <md-button ng-if="isAdmin()" class="md-raised" ui-sref="project.admin({ pid : project.accessUrl })" style="font-size:0.6em; display:inline;">
        <i class="fa fa-gears"></i>
        Admin
    </md-button>
    <a style="text-decoration: none; color: black;" ui-sref="project.home({ pid : project.accessUrl })">
        <h4 style="margin: 0;font-size:1.3em;">{{ project.title }}</h4>
    </a>
    <div font-size="font-size:0.7em;" class="text-muted" layout="row" style="margin:2px;" layout-align="start center">
            <span style="margin:2px;font-size:0.7em;">By:</span>
        <user-info ng-if="project.owner" user-id="project.owner" flex></user-info>
    </div>
    <div layout="row" style="margin-top: 5px;">
        <div flex layout="row" class="text-muted">
            <span style="font-size:0.7em;">
                {{ project.followers.length }}
            </span>
            &nbsp;
            <span style="font-size:0.7em;">
                Followers
            </span>
            &nbsp;&nbsp;&nbsp;
            <span style="font-size:0.7em;">
                {{ project.likers.length }}
            </span>
            &nbsp;
            <span style="font-size:0.7em;">
                Like
            </span>
        </div>
        <br>
        &nbsp;
        &nbsp;
        <div flex layout="row" class="text-muted">
            <span style="font-size:0.7em;">
                {{ project.members.length }}
            </span>
            &nbsp;
            <span style="font-size:0.7em;" class="text-muted">
                Members
            </span>
        </div>
    </div>
</md-content>