<div class="panel panel-default">
    <div class="panel-heading">
        {{'PROFILE_IDEA_CON'|translate}}
    </div>
    <div class="panel-body">
        <ul class="list-unstyled" >
            <li ng-animate="'animate'" ng-repeat="cproject in cprojects track by $index" class="solid">
                <a ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed">
                    <div class="text-success pull-right">
                        {{'PROJECT_VIEW_RELY'|translate}} {{cproject.score}}%
                    </div>
                    <h4>{{cproject.title}}</h4>
                </a>
                <div class="text-muted"  ng-bind-html="cproject.brief" collapse="isCollapsed" ui-sref="project({ pid : cproject.accessUrl })">
                </div>
            </li>
        </ul>
    </div>
</div>

<!--project that i follow-->
<div class="panel panel-default">
    <div class="panel-heading">
        {{'PROFILE_IDEA_FOLLOW'|translate}}
    </div>
    <div class="panel-body">
        <ul class="list-unstyled" >
            <li ng-animate="'animate'" ng-repeat="fproject in fprojects track by $index" class="solid">
                <a ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed" >
                    <div class="text-success pull-right">
                        {{'PROJECT_VIEW_RELY'|translate}} {{fproject.score}}%
                    </div>
                    <h4>{{fproject.title}}</h4>
                </a>
                <div class="text-muted" ng-bind-html="fproject.brief" collapse="isCollapsed" ui-sref="project({ pid : fproject.accessUrl })">
                </div>
            </li>
        </ul>
    </div>
</div>

<!--project that i created-->
<div class="panel panel-default">
    <div class="panel-heading">
        {{'PROFILE_IDEA_OWNER'|translate}}
    </div>
    <div class="panel-body">
        <ul class="list-unstyled" >
            <li ng-animate="'animate'" ng-repeat="popproject in popprojects track by $index" class="solid">
                <a ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed">
                    <div class="text-success pull-right">
                        {{'PROJECT_VIEW_RELY'|translate}} {{popproject.score}}%
                    </div>
                    <h4>{{popproject.title}}</h4></a>
                <div class="text-muted" ng-bind-html="popproject.brief" collapse="isCollapsed" ui-sref="project({ pid : popproject.accessUrl })">
                </div>
            </li>
        </ul>
    </div>
</div>

