<md-dialog id="create-badge-modal">
    <md-toolbar layout="row" layout-align="">
        <div layout layout-align="start center">
            <span flex>{{ title }}</span>
            <md-button class="md-fab" ng-click="done()" ng-disabled="createBadgeForm.$invalid">
                <i class="fa fa-share"></i>
            </md-button>
            <md-button class="md-fab" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex>
        <form name="createBadgeForm">
            <md-input-container>
                <label>Title</label>
                <input type="text" ng-model="badge.title" required>
            </md-input-container>
            <md-input-container>
                <label>Description</label>
                <textarea ng-model="badge.description" required></textarea>
            </md-input-container>
        
            <div id="badge-image-container">
                <image-chooser final-image="badge.image" shape="'square'"></image-chooser>
            </div>
        </form>
    </md-content>
</md-dialog>
