<div class="panel panel-default">
    <div class="panel-heading">
        {{'PROFILE_CHALLENGE_REC'|translate}}
    </div>
    <div class="panel-body">
        <h3 class="dashed pbm">
            {{'PROFILE_CHALLENGE_REC_SIMILAR'|translate}}
        </h3>
        <div ng-hide="stagCs">
            {{'PROFILE_CHALLENGE_REC_SIMILAR_INFO'|translate}}
            <a href="user/setting/basic">
                {{'PROFILE_CHALLENGE_REC_SIMILAR_CHANGE'|translate}}
            </a>
        </div>
        <div class="row">
            <ul ng-show="stagCs" class="list-unstyled">
                <li ng-repeat="stagC in stagCs track by $index" class="col-md-6 col-sm-6 col-xs-12" >
                    <div challenge-block="stagC" ></div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        {{'PROFILE_IDEA_REC'|translate}}
    </div>
    <div class="panel-body">
        <h3 class="dashed pbm">
            {{'PROFILE_IDEA_REC_SIMILAR'|translate}}
        </h3>
        <div ng-hide="stagPs">
            {{'PROFILE_IDEA_REC_SIMILAR_INFO'|translate}}
            <a href="user/setting/basic">
                {{'PROFILE_IDEA_REC_SIMILAR_CHANGE'|translate}}
            </a>
        </div>
        <div class="row">
            <ul ng-show="stagPs" class="list-unstyled">
                <li ng-repeat="stagP in stagPs track by $index" class="col-md-6 col-sm-6 col-xs-12" >
                    <div project-block="stagP" >
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="isOwner">
    <div class="panel-heading">
        {{'PROJECT_USER_REC'|translate}}
    </div>
    <div class="panel-body">
        <h3 class="dashed pbm">
            {{'PROJECT_USER_REC_FOLLOW'|translate}}
        </h3>
        <div ng-hide="ffollwers">
            walou
        </div>
        <ul ng-show="ffollwers" class="list-unstyled">
            <li ng-repeat="ffollower in ffollwers track by $index"  >
                <div user-block="ffollower" ></div>
            </li>
        </ul>
        <div class="clearfix"></div>
        <h3 class="dashed pbm mtm">
            {{'PROJECT_USER_REC_TAG'|translate}}
        </h3>
        <div ng-hide="recUsers">
            no recommendation, please add some tag to your profile
            <a href="user/setting/basic" ui-sref="profile.basic({ uid : me.id })">
                do It now ?
            </a>
        </div>
        <ul ng-show="recUsers" class="list-unstyled">
            <li ng-repeat="stagUser in recUsers track by $index"  >
                <div user-block="stagUser" ></div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>