<div class="panel panel-default">
    <div class="panel-heading">
        {{'FOLLOWER'|translate}}
    </div>
    <div class="panel-body">
        <div class="text-muted" ng-hide="followers">
            {{'PROFILE_NO_FAN'|translate}}
        </div>
        <ul class="list-unstyled" ng-show="followers">
            <li ng-repeat="follower in followers" >
                <div user-block="follower" ></div>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        {{'FOLLOWING'|translate}}
    </div>
    <div class="panel-body">
        <div class="text-muted" ng-hide="followings">
            {{'PROFILE_NO_FAN'|translate}}
        </div>
        <ul class="list-unstyled" ng-show="followings">
            <li ng-repeat="following in followings"  >
                <div user-block="following" ></div>
            </li>
        </ul>
    </div>
</div>
