<nav class="col-lg-2 col-xs-12">
    <ul class="nav nav-pills nav-stacked">
        <li ui-route="/challenge/{{ challenge.accessUrl }}/list" ng-class="{active: $uiRoute}">
            <a ui-sref="challenge.list">List</a>
        </li>
        <li ui-route="/challenge/{{ challenge.accessUrl }}/details" ng-class="{active: $uiRoute}">
            <a ui-sref="challenge.details">Details</a>
        </li>
        <!--<li ui-route="/challenge/{{ challenge.accessUrl }}/chat" ng-class="{active: $uiRoute}">-->
            <!--<a ui-sref="challenge.chat">Chat</a>-->
        <!--</li>-->
        <li ui-route="/challenge/{{ challenge.accessUrl }}/followers" ng-class="{active: $uiRoute}">
            <a ui-sref="challenge.followers">followers</a>
        </li>
        <li ui-route="/challenge/{{ challenge.accessUrl }}/settings" ng-class="{active: $uiRoute}" ng-if="isOwner">
            <a ui-sref="challenge.settings">Settings</a>
        </li>
        <li ng-if="me" ui-route="/challenge/{{ challenge.accessUrl }}/projectCreation" ng-class="{active: $uiRoute}">
            <a ui-sref="challenge.projectCreation">Create New Project</a>
        </li>
    </ul>
</nav>
<section class="col-lg-10 col-sm-12" ui-view="challengeView">

</section>
