<div>
    <div class="alert alert-info">
        {{'CHALLENGE_SUGGEST_INTRO'|translate}}
    </div>
    <form name="cform" class="form-horizontal">
        <div class="col-sm-7">

            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">{{'CHALLENGE_SUGGEST_TITLE'|translate}}</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="title" ng-model="pform.title" required="" ng-change="titleChange(pform.title)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">{{'CHALLENGE_SUGGEST_BRIEF'|translate}}</label>
                <div class="col-sm-9 col-xs-12">
                    <text-angular ng-model="pform.brief"></text-angular>
                    <!--<textarea rows="3" class="form-control" ng-trim="false" name="brief" ng-model="pform.brief" required="" ></textarea><br>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">Tags:</label>
                <div class="col-md-6 col-sm-9 col-xs-12">
                    <div class="tag-manager" entity="pform" ng-model="pform.tags"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9 col-xs-12">
                    <button type="submit" class="btn btn-default" ng-disabled="cform.$invalid" ng-click="createChallenge(pform)">{{'BTN_SUBMIT'|translate}}</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">{{'CHALLENGE_SUGGEST_ACCESSURL'|translate}}</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="title" ng-model="pform.accessUrl" required="" disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">Localisation</label>
                <div class="col-sm-9 col-xs-12">
                    <ui-select ng-model="pform.localisation"
                               theme="bootstrap"
                               reset-search-input="false">
                        <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
                        <ui-select-choices repeat="address in addresses track by $index"
                                           refresh="refreshAddresses($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div ng-if="fileUploadQuestion">
                <p>
                    Do you want to add a poster to your challenge ?
                </p>
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>

            <div class="form-group" ng-if="showFileUploader">
                <label class="col-sm-3 col-xs-12 control-label">{{'CHALLENGE_SUGGEST_AccessUrl'|translate}}</label>
                <div class="col-sm-9 col-xs-12">
                    <cri-uploader></cri-uploader>
                </div>
            </div>
        </div>
    </form>
</div>