<material-dialog>
    <material-toolbar>
        <div layout="horizontal">
            <div flex></div>
            <material-button class="material-button-fab" ng-click="addComment()">
                <i class="fa fa-check"></i>
            </material-button>
            <material-button class="material-button-fab" ng-click="cancel()">
                <i class="fa fa-times"></i>
            </material-button>
        </div>
    </material-toolbar>
    <material-content>
        <textarea ui-tinymce="tinymceOption" ng-model="commentValue" placeholder="I think..." required ></textarea>
    </material-content>
</material-dialog>