<div class="dropbox row"
     ng-file-drop="fileSelected($files)"
     ng-file-drag-over-class="dropbox-dragover"
     style="background-image:url({{ fileUrl }});background-repeat:no-repeat;background-size:contain;background-position:right;">
    <div>
        <input ng-if="!file" type="file" ng-file-select="fileSelected($files)"/>
    </div>
    <div  ng-if="file">
        <div class="btn-group">
            <i tooltip="{{ 'Upload '+file.name }}" class="fa fa-cloud-upload fa-2x my-btn" ng-click="upload(myTopic,file,file.description)" class="btn btn-default">
            </i>
            <i ng-click="cancelUpload()" class="fa fa-2x fa-times my-btn" tooltip="Cancel">
            </i>
        </div>
        <textarea style="width:100%;color: black; background-color: transparent;" autofocus="true" placeholder="file description..." rows="10" ng-model="file.description"></textarea>
    </div>
    <!--<img ng-src="{{ fileUrl }}"  ng-show="fileUrl" width="100%"/>-->
</div>