<md-content layout="column" layout-fill>
    <h2 class="center">
        Settings
    </h2>

    <div>
        <md-button ng-click="popUpEdit()">
            Edit Home Page
        </md-button>
        <md-button ng-click="popUpPoster()">
            Edit Poster
        </md-button>
        <md-button ng-click="popUpBanner()">
            Edit Banner
        </md-button>
        <md-button class="md-warn" ng-click="popUpRemove()">
            Delete
        </md-button>
    </div>

    <form name="projectBasic" layout="column" flex>
        <ui-select ng-model="project.localisation"
                   theme="selectize"
                   reset-search-input="false">
            <ui-select-match placeholder="Enter your address...">{{$select.selected.formatted_address}}</ui-select-match>
            <ui-select-choices repeat="address in addresses track by $index"
                               refresh="refreshAddresses($select.search)"
                               refresh-delay="0">
                <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>

        <p>Tags</p>
        <tag-manager model="project.tags"></tag-manager>

        <md-input-container>
            <label for="title">Title</label>
            <input id="title" type="text" ng-model="project.title" name="title" required/>
        </md-input-container>
        <div ng-messages="projectBasic.title.$error">
            <div ng-message="required">
                Title is required
            </div>
        </div>
        <md-input-container>
            <label for="brief">Brief Description</label>
            <textarea  id="brief" rows="5" style="width:100%;" ng-model="project.brief"></textarea>
        </md-input-container>
        <md-switch ng-model="project.showProgress" aria-label="progress">
            Progress indicator
        </md-switch>
        <div layout>
            <div flex="20" layout layout-align="center center">
                <input type="number" ng-model="project.progress" aria-label="red" aria-controls="red-slider">
            </div>
            <md-slider ng-disabled="!project.showProgress" flex min="0" max="100" ng-model="project.progress" aria-label="red">
            </md-slider>
        </div>
        <md-input-container >
            <label for="trello">Trello Id (like <code>U0aBsIQl</code>)</label>
            <input id="trello" type="text"ng-model="project.trello" />
        </md-input-container>
        <md-button flex class="md-raised md-button-colored" type="button" ng-click="updateProject($event)" ng-disabled="">Update</md-button>
    </form>
</md-content>