<md-content layout="row" layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 left" component-id="left">
        <md-content style="padding-left: 20px;" layout="column" >
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <i class="fa fa-caret-left fa-2x my-btn" hide-md style="color:black;" ng-click="toggle()" flex></i>
                    <div>
                        <i class="fa fa-user">Edit your project</i>
                    </div>
                </div>
            </md-toolbar>
            <md-button ng-click="popUpEdit()">
                Edit Home Page
            </md-button>
            <md-button ng-click="popUpPoster()">
                Edit Poster
            </md-button>
            <md-button ng-click="popUpBanner()">
                Edit Banner
            </md-button>
            <md-button class="md-warn" ng-click="popUpRemove()">
                Delete
            </md-button>
        </md-content>
    </md-sidenav>
    <form name="projectBasic" layout="column" flex class="right-part">
        <ui-select ng-model="project.localisation"
                   theme="selectize"
                   reset-search-input="false">
            <ui-select-match placeholder="Enter your address...">{{$select.selected.formatted_address}}</ui-select-match>
            <ui-select-choices repeat="address in addresses track by $index"
                               refresh="refreshAddresses($select.search)"
                               refresh-delay="0">
                <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <tag-manager entity="project" ng-model="project.tags"></tag-manager>
        <md-input-group>
            <label for="title">Title</label>
            <md-input id="title" type="text" ng-model="project.title" name="title"/>
        </md-input-group>
        <div ng-messages="projectBasic.title.$error">
            <div ng-message="required">
                title is required
            </div>
        </div>
        <label for="brief"></label>
        <textarea  id="brief" rows="5" style="width:100%;" ng-model="project.brief"></textarea>
        <md-input-group >
            <label for="trello">Trello Id (like <code>U0aBsIQl</code>)</label>
            <md-input id="trello" type="text"ng-model="project.trello" />
        </md-input-group>
        <md-button flex class="md-raised md-button-colored" type="button" ng-click="updateProject($event)" ng-disabled="">Update</md-button>
    </form>
</md-content>