<md-content layout="vertical" >
    <md-tabs selected="selectedIndex" center>
        <h2 class="center">{{ project.title }} Administration</h2>
        <md-tab>
            <md-label>
                <i class='fa fa-list'>Edit</i>
            </md-label>
        </md-tab>
        <md-tab>
            <md-label>
                <i class='fa fa-users'>Team</i>
            </md-label>
        </md-tab>
    </md-tabs>

    <div class="animate-switch-container" ng-switch on="selectedIndex" flex >
        <div class="animate-switch blueArea" ng-switch-when="0">
            <ng-include src="'modules/admin/project/templates/edit.tpl.html'" ng-controller="ProjectEditCtrl"></ng-include>
        </div>
        <div class="animate-switch greenArea" ng-switch-when="1">
            <ng-include src="'modules/admin/project/templates/team.tpl.html'" ng-controller="ProjectTeamCtrl"></ng-include>
        </div>
    </div>
</md-content>
