<section layout="vertical" layout-md="horizontal" layout-md="space-between">
    <section layout="vertical" flex-md="60">
        <h2 class="center">
            Current Team
        </h2>
        <div ng-if="project.members.length == 0 || !project.members" class="center">
            You're alone in your project. But don't despair, just get some friends to join!
        </div>
        <div layout="horizontal">
            <div ng-repeat="member in project.members" layout="vertical" style="width:250px;">
                <user-card inline-block user-id="member._id"></user-card>
                <md-button ng-click="ban(member._id)"><i class="fa fa-2x fa-ban"></i> Ban</md-button>
            </div>
        </div>
    </section>
    <section layout="vertical" flex-md="40">
        <h2 class="center">
            Applications
        </h2>
        <div class="apply-table" layout="vertical">
            <div layout="horizontal" class="tr" layout-align="center center">
                <div flex="15" class="th">
                    Applier
                </div>
                <div flex="30" class="th">
                    Content
                </div>
                <div flex="20" class="th">
                    Times
                </div>
                <div flex="15" class="th">
                    Status
                </div>
                <div flex="20" class="th">
                    Action
                </div>
            </div>
            <div layout="horizontal" ng-repeat="applyteam in applyteams track by $index" class="tr" layout-align="center center">
                <div flex="15" class="td" layout layout-align="center center">
                    <div style="width:100px;">
                        <user-block user-id="applyteam.owner"></user-block>
                    </div>

                </div>
                <div flex="30" class="td" ng-bind-html="applyteam.message" layout layout-align="center center"></div>
                <div flex="20" class="td" layout layout-align="center center">{{applyteam.createDate}}</div>
                <div flex="15" class="td" layout layout-align="center center">
                    <div ng-show="applyteam.status" ><i class="fa fa-thumbs-up fa-2x"></i></div>
                    <div ng-hide="applyteam.status"  ><i class="fa fa-thumbs-down fa-2x"></i></div>
                </div>
                <div layout="vertical" flex="20" class="td">
                    <md-button ng-hide="applyteam.status" ng-click="addToTeam(applyteam.owner,$index)" flex>
                        <i class="fa fa-2x fa-check"></i>
                    </md-button>
                    <md-button ng-hide="applyteam.status" flex>
                        <i class="fa fa-2x fa-ban"></i>
                    </md-button>
                </div>
            </div>
        </div>
    </section>
</section>