<section layout="column" layout-md="horizontal" layout-md="space-between">
    <section layout="column" flex-md="60">
        <h3 class="center">
            Current Team
        </h3>
        <div ng-if="project.members.length == 0 || !project.members" class="center">
            You're alone in your project. But don't despair, just get some friends to join!
        </div>
        <div layout="row">
            <div ng-repeat="member in project.members" layout="column" style="width:250px;">
                <user-card user-id="member._id"></user-card>
                <md-button ng-click="ban(member._id)"><i class="fa fa-2x fa-ban"></i> Ban</md-button>
            </div>
        </div>
    </section>
    <section layout="column" flex-md="40">
        <h3 class="center">
            Team Applications
        </h3>
        <div class="apply-table" layout="column">
            <div layout="row" class="tr" layout-align="center center">
                <div flex="15" class="th">
                    User
                </div>
                <div flex="30" class="th">
                    Message
                </div>
                <div flex="20" class="th">
                    Time
                </div>
                <div flex="20" class="th">
                    Action
                </div>
            </div>
            <div layout="row" ng-repeat="applyteam in applyteams track by $index" class="tr" layout-align="center center">
                <div flex="15" class="td" layout layout-align="center center">
                    <div style="width:100px;">
                        <user-block user-id="applyteam.owner"></user-block>
                    </div>
                </div>
                <div flex="30" class="td" ng-bind-html="applyteam.message" layout layout-align="center center"></div>
                <div flex="20" class="td" layout layout-align="center center"><span time-ago from-time="{{ applyteam.createDate }}"></span></div>
                <div layout="column" flex="20" class="td">
                    <md-button ng-click="addToTeam(applyteam.owner,$index)" flex>
                        <i class="fa fa-thumbs-up"></i> Accept
                    </md-button>
                    <md-button ng-click="reject($index)" flex>
                        <i class="fa fa-thumbs-down"></i> Deny
                    </md-button>
                </div>
            </div>
        </div>
    </section>
</section>