<md-content>
    <md-content layout="row" layout-align="center" layout-margin>
        <section class="md-whiteframe-z1" flex-gt-sm="75" layout="column">
            <md-toolbar class="md-theme-green md-default-theme">
                <div class="md-toolbar-tools">
                    <h1>Contact</h1>
                </div>
            </md-toolbar>
            <md-content flex layout-padding>

                <h3>Partner:</h3>

                <md-card>
                    <a href="http://cri-paris.org/"><img ng-src="images/cri-logo.jpg" class="md-card-image" alt="cri"></a>
                    <md-card-content>
                        <a class="link-no-decoration" href="http://cri-paris.org/"><h2 class="md-title">Centre de Recherche Interdiciplinaire</h2></a>
                        <p>
                          IdeaWeave has been released in the CRI.
                        </p>
                    </md-card-content>
                </md-card>
                <md-card>
                    <a href="http://citizencyberlab.eu/"><img ng-src="images/CClogo.png" class="md-card-image" alt="cri"></a>
                    <md-card-content>
                        <a class="link-no-decoration" href="http://citizencyberlab.eu/"><h2 class="md-title">Citizen Cyberlab</h2></a>
                        <p>
                          Click for report a bug on github.
                        </p>
                    </md-card-content>
                </md-card>

                <h3>Report a bug:</h3>

                <md-card>
                    <a href="https://github.com/CyberCRI/IdeaWeave/issues/new"><img ng-src="images/github-logo.png" class="md-card-image" alt="cri"></a>
                    <md-card-content>
                        <a class="link-no-decoration" href="https://github.com/CyberCRI/IdeaWeave/issues/new"><h2 class="md-title">Github issues</h2></a>
                        <p>
                          Click for report a bug on github.
                        </p>
                    </md-card-content>
                </md-card>
            </md-content>
        </section>
    </md-content>
</md-content>