<!-- first section - Home -->
<material-content>
    <ul rn-carousel rn-carousel-indicator="" rn-carousel-control="">
        <!--ng-style="{backgroundImage : 'url(images/carousel/fond' +$index+ '.png)'}"-->
        <li class="list-carousel-challenge" ng-repeat="challenge in challenges" >

            <section class="carousel-body" id="firstSlide" ng-if="challenge.intro == 1" layout="vertical" layout-align="start center" >
                <h1 class="center" style="font-size: 3em;">
                    IdeaWeaves
                </h1>
                <section layout="vertical" layout-md="horizontal" >
                    <article >
                        <p>
                            IdeaWeaves is a platform for exchanging ideas and forming groups around exciting projects to solve problems.
                        </p>
                    </article>
                    <div hide block-md flex-md="20">

                    </div>
                    <article layout layout-align="start end" >
                        <p>
                            Organizations or individuals pose challenges, which are like competitions, and people suggest projects that meet this challenge. Anyone can follow and join a project to help develop it.
                        </p>

                    </article>
                </section>
                <d3-tag-cloud hide block-md  tags="tags" on-click="showTag(item)" options="{ width : 900,height : 300,center : true}" ></d3-tag-cloud>
                <div>
                    <material-button ng-click="toSignUp()" ng-if="!currentUser" class="material-button-raised material-button-colored">Join us</material-button>
                </div>
            </section>
            <section class="carousel-body" ng-if="challenge.intro == 2"  layout="vertical" layout-align="center center">
                <article>
                    <p style="text-align: center; font-size:2em;">
                        You would like to showcase your project to a growing public in order to find supporters, get advice from experts or simply test if you are communicating comprehensively?
                        Ideaweaves provides you with a dedicated space and feedback tools that are easy to use.
                    </p>
                </article>
            </section>
            <section  layout="vertical"  class="carousel-body" ng-if="challenge.intro == 3">
                <h2 class="center">Ideastorm provides a simple collaborative working environment, the possibility to organise and archive discussions, a clear visibility on the taks to be performed and the resources needed.</h2> <hr />
                <div layout="vertical" layout-md="horizontal" layout-align="center center">
                    <div layout="vertical" flex-md>
                        <div class="center">
                            <i class="fa fa-lightbulb-o fa-5x"> </i>
                            <h4>Innovation</h4>
                            <p >Organizations or individuals pose challenges, which are like competitions, and people suggest projects that meet this challenge. Anyone can follow and join a project to help develop it.
                            </p>
                            <p>
                                An open Api (read more on github...)
                            </p>

                        </div>
                    </div>

                    <div layout="vertical" flex-md class="center">
                        <i class="fa fa-users fa-5x"> </i>
                        <h4>Team Work</h4>
                        <p>You and your team want to collaborate effectively without sending back and forth millions of e-mails and documents ?
                        </p>
                        Numerous collaboration tools : HackPad, GoogleDrive...
                    </div>
                </div>
            </section>
            <section style="height:100%;" ng-if="$index > 2" class="carousel-body" >
                <article >
                    <h1 class="center">
                        <a ui-sref="challenge.details({ pid : challenge.accessUrl })">{{challenge.title}}</a>
                    </h1>
                    <showtags entity="challenge"></showtags>
                    <p class="carousel-brief"  ng-bind-html="challenge.home">
                    </p>


                    <div layout="horizontal">
                        <material-button ui-sref="challenge({pid : challenge.accessUrl})" class="material-button-raised material-button-colored">Take a look</material-button>
                        <material-button ui-sref="challenges.list({tag : 'all'})" class="material-button-raised material-button-colored">See more challenges</material-button>
                    </div>
                </article>
            </section>
        </li>
    </ul>

    <article  ng-if="projects.length >= 3">
        <h1 class="center" >Popular Projects</h1>
        <section style="text-align: center">
            <project-card style="text-align: left;" ng-repeat="project in projects" my-project="project" inline-block>

            </project-card>
        </section>


    </article>
    <ng-include id="signup" src="'modules/auth/templates/signup.tpl.html'"></ng-include>
    <ng-include src="'modules/footer/templates/footer.tpl.html'"></ng-include>

</material-content>
