<material-dialog>
    <material-toolbar layout="horizontal" layout-align="">
        <div layout layout-align="start center">
            <span flex>Your challenge picture</span>
            <i class="fa fa-times fa-2x my-btn" ng-click="cancel()" block></i>
        </div>
    </material-toolbar>
    <image-crop
            data-width="300"
            data-height="300"
            data-shape="circle"
            data-step="imageCropStep"
            data-result="imageCropResult"
            ></image-crop>

</material-dialog>