<material-dialog>
    <material-toolbar layout="horizontal" layout-align="">
        <div layout layout-align="start center">
            <span flex>Your challenge's homepage banner</span>
            <i class="fa fa-times fa-2x my-btn" ng-click="cancel()" block></i>
        </div>
    </material-toolbar>
    <image-crop
            data-width="900"
            data-height="300"
            data-shape="square"
            data-step="imageCropStep"
            data-result="imageCropResult"
            hide
            block-md
            ></image-crop>
    <image-crop
            data-width="240"
            data-height="80"
            data-shape="square"
            data-step="imageCropStep"
            data-result="imageCropResult"
            hide-md
            ></image-crop>
</material-dialog>