<material-dialog>
    <material-toolbar layout="horizontal" layout-align="">
        <div layout layout-align="start center">
            <span flex>Edit your challenge homepage</span>
            <i class="fa fa-times fa-2x my-btn" ng-click="cancel()" block></i>
        </div>
    </material-toolbar>
    <form name="descriptionForm">
        <textarea ui-tinymce="tinymceOption" name='brief'  ng-model="newChallenge.brief"/></textarea>
        <material-button type="button" style="width:100%;" class="material-button-raised" ng-click="update(newChallenge)">
            <span class="faa-spin animated" ng-if="isLoading">
                <i class="fa fa-spinner"></i>
            </span>
            Update
        </material-button>
    </form>
</material-dialog>