<md-content>
    <md-content layout="row" layout-align="center" layout-margin>
        <section class="md-whiteframe-z1" flex-gt-sm="75" layout="column">
            <md-toolbar class="md-theme-green md-default-theme">
                <div class="md-toolbar-tools">
                    <h3>Notifications</h3>
                </div>
            </md-toolbar>
            <md-content>
                <notification-list notifications="notifications"></notification-list>
            </md-content>
        </section>
    </md-content>
</md-content>