<md-content>
    <md-content layout="row" layout-align="center" layout-margin>
        <section class="md-whiteframe-z2" flex-gt-sm="75" layout="column">
            <md-toolbar layout-padding class="md-default-theme">
                <img ng-src="{{ profile.poster || 'images/avater.jpg' }}" alt="{{ profile.username }}'s photo" class="img-rounded img-profile-page"/>
                <h3 style="margin-top:0;margin-bottom:0;font-size:50px;">
                   {{ profile.realname || profile.username }}
                    <i style="color:yellow" class="fa" ng-class="{ 'fa-star' : isFollowing }"></i>
                </h3>
                <p style="text-align:right;">
                    {{ profile.followers.length }} followers . {{ profile.followings.length }} following
                </p>
                <md-button class="md-fab md-accent" ng-click="follow()" style="bottom:-24px;position:absolute; right:20px;z-index : inherit" ng-if="!isOwner">
                    <i class="fa" ng-class="{ 'fa-thumbs-up' : !isFollowing, 'fa-thumbs-down' : isFollowing }"></i>
                </md-button>
            </md-toolbar>

            <md-content flex layout-padding>
                <md-button class="md-raised" ng-if="profile._id == currentUser._id" ui-sref="profileAdmin" flex>
                    <i class="fa fa-pencil-square-o baseColor"></i> Edit
                </md-button>
                <show-tags model="profile.tags" style="margin-left: 50px;"></show-tags>

                <md-divider></md-divider>
                <h3>Presentation</h3>
                <div ng-bind-html="profile.secureBrief"></div>

                <md-divider></md-divider>
                <h3>Badges</h3>
                <div layout="row" layout-wrap>
                    <credit-card ng-repeat="credit in credits" my-credit="credit" show-given-to="false"></credit-card>
                </div>
                <p ng-if="!credits">No badges so far.</p>

                <md-divider></md-divider>
                <h3>Contributions</h3>
                <div ng-if="moreData.challenges.length > 0">
                    <div>
                        <h3><img src="images/svg/challenges.svg"> Created Challenges</h3>
                    </div>

                    <div>
                        <md-grid-list md-cols="3" md-row-height="500px">
                            <md-grid-tile ng-repeat="challenge in moreData.challenges">
                                <challenge-more-card class="md-whiteframe-z2" admin="true" challenge-id="challenge._id" style="height: 410px;"></challenge-more-card> 
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </div>

                <md-divider ng-if="moreData.followedChallenges.length > 0"></md-divider>

                <div layout-margin ng-if="moreData.followedChallenges.length > 0">
                    <div>
                        <h3><img src="images/svg/challenges.svg"> Following Challenges</h3>
                    </div>

                    <div>
                        <md-grid-list md-cols="3" md-row-height="500px">
                            <md-grid-tile ng-repeat="challenge in moreData.challenges">
                                <challenge-more-card class="md-whiteframe-z2" admin="true" challenge-id="challenge._id" style="height: 410px;"></challenge-more-card> 
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </div>

                <md-divider ng-if="moreData.projects.length > 0"></md-divider>

                <div layout-margin ng-if="moreData.projects.length > 0">
                    <div>
                        <h3><i class="fa fa-rocket fa-2x baseColor"></i> Created Projects</h3>
                    </div>

                    <div>
                        <md-grid-list md-cols="3" md-row-height="500px">
                            <md-grid-tile ng-repeat="project in moreData.projects">
                                <project-card class="md-whiteframe-z2" admin="true" project-id="project._id" style="height: 410px;"></project-card> 
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </div>

                <md-divider ng-if="moreData.memberProjects.length > 0"></md-divider>

                <div layout-margin ng-if="moreData.memberProjects.length > 0">
                    <div>
                        <h3><i class="fa fa-rocket fa-2x baseColor"></i> Contributing to Projects</h3>
                    </div>

                    <div>
                        <md-grid-list md-cols="3" md-row-height="500px">
                            <md-grid-tile ng-repeat="project in moreData.memberProjects">
                                <project-card class="md-whiteframe-z2" project-id="project._id" style="height: 410px;"></project-card> 
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </div>

                <md-divider ng-if="moreData.followedProjects.length > 0"></md-divider>

                <div layout-margin ng-if="moreData.followedProjects.length > 0">
                    <div>
                        <h3><i class="fa fa-rocket fa-2x baseColor"></i> Following Projects</h3>
                    </div>

                    <div>
                        <md-grid-list md-cols="3" md-row-height="500px">
                            <md-grid-tile ng-repeat="project in moreData.followedProjects">
                                <project-card class="md-whiteframe-z2" project-id="project._id" style="height: 410px;"></project-card> 
                            </md-grid-tile>
                        </md-grid-list>

                    </div>
                </div>

                <md-divider ng-if="moreData.ideas.length > 0"></md-divider>

                <div layout-margin ng-if="moreData.ideas.length > 0">
                    <div>
                        <h3><img src="images/svg/ideas.svg"> Created Ideas</h3>
                    </div>

                    <div>
                        <idea-card ng-repeat="idea in moreData.ideas" idea-id="idea._id"></idea-card>
                    </div>
                </div>

                <md-divider ng-if="moreData.followedIdeas.length > 0"></md-divider>

                <div layout-margin ng-if="moreData.followedIdeas.length > 0">
                    <div>
                        <h3><img src="images/svg/ideas.svg"> Following Ideas</h3>
                    </div>

                    <div>
                        <idea-card ng-repeat="idea in moreData.followedIdeas" idea-id="idea._id"></idea-card>
                    </div>
                </div>
                <md-divider></md-divider>
                <h3>Activity</h3>
                <notification-list notifications="activities"></notification-list>
            </md-content>
        </section>
    </md-content>
</md-content>