<section class="container" >
    <section>
        <ul class="nav nav-pills nav-justified">
            <li ui-route="/challenge/{{ challenge.accessUrl }}/settings/basic" ng-class="{active: $uiRoute}">
                <a ui-sref="challenge.settings.basic">Basic</a>
            </li>
            <li ui-route="/challenge/{{ challenge.accessUrl }}/settings/poster" ng-class="{active: $uiRoute}">
                <a ui-sref="challenge.settings.poster">Poster</a>
            </li>
        </ul>
    </section>
    <br>
    <section ui-view="settingView">

    </section>
</section>
