<section>
    <h3 class="center">New poster</h3>
    <image-crop
            data-width="300"
            data-height="300"
            data-shape="square"
            data-step="imageCropStep"
            data-result="imageCropResult"
            ng-show="showImageCropper">
    </image-crop>
</section>
<section>
    <h3 class="center">New banner</h3>
    <image-crop
            data-width="900"
            data-height="300"
            data-shape="square"
            data-step="imageCropStep"
            data-result="bannerResult"
            ng-show="showImageCropper">
    </image-crop>
</section>