<md-toolbar scroll-shrink class="md-accent">
    <div class="center">
        {{ challenge.title }} Settings
    </div>
</md-toolbar>
<md-content class="right-part">
    <form name="projectBasic" layout="column">
        <md-input-container>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" ng-model="challenge.title" required></input>
        </md-input-container>
        <div ng-messages="projectBasic.title.$error">
            <div ng-message="required">
                Title is required
            </div>
        </div>
        <textarea placeholder="A brief description of your project" rows="5" ng-model="challenge.brief" class="pretty-area"></textarea>
        <tag-manager entity="challenge" ng-model="challenge.tags"></tag-manager>
        <md-button class="md-accent"  ng-click="updateChallenge()" style="margin:auto;" ng-disabled="projectBasic.title.$invalid">
            <span class="faa-spin animated" ng-if="isBasicLoading">
                <i class="fa fa-spin"></i>
            </span>
            Update Challenge
        </md-button>
    </form>
</md-content>