<md-toolbar scroll-shrink class="md-accent">
    <div class="center">
        {{ challenge.title }} Settings
    </div>
</md-toolbar>
<md-content class="right-part">
    <form name="projectBasic" layout="column">
        <md-input-container>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" ng-model="challenge.title" required></input>
        </md-input-container>
        <div ng-messages="projectBasic.title.$error">
            <div ng-message="required">
                Title is required
            </div>
        </div>

        <md-input-container>
            <label>Brief Description</label>
            <textarea placeholder="A brief description of your project" rows="5" ng-model="challenge.brief" class="pretty-area"></textarea>
        </md-input-container>

        <md-switch ng-model="challenge.showProgress" aria-label="progress">
            Progress indicator
        </md-switch>
        <div layout>
            <div flex="20" layout layout-align="center center">
                <input type="number" ng-model="challenge.progress" aria-label="red" aria-controls="red-slider">
            </div>
            <md-slider ng-disabled="!challenge.showProgress" flex min="0" max="100" ng-model="challenge.progress" aria-label="red">
            </md-slider>
        </div>

        <p>Tags</p>
        <tag-manager model="challenge.tags"></tag-manager>

        <md-button class="md-accent"  ng-click="updateChallenge()" style="margin:auto;" ng-disabled="projectBasic.title.$invalid">
            <span class="faa-spin animated" ng-if="isBasicLoading">
                <i class="fa fa-spin"></i>
            </span>
            Update Challenge
        </md-button>
    </form>

    <h2>Templates</h2>

    <md-list>
        <md-list-item ng-repeat="template in templates">
            <h3>{{ template.title }}</h3>
            <p>: {{ template.description }}</p>
            <md-button class="md-raised" ng-click="popUpEditTemplate(template)" analytics-on analytics-event="removeTemplate"><i class="fa fa-pencil"></i></md-button>
            <md-button class="md-raised md-warn" ng-click="removeTemplate(template)" analytics-on analytics-event="removeTemplate"><i class="fa fa-times"></i></md-button>
        </md-list-item>
    </md-list>

    <md-button ng-click="popUpCreateTemplate()"><i class="fa fa-plus"></i> Add a template</md-button>

    <h2>Badges</h2>

    <md-button ng-click="popUpCreateBadge()"><i class="fa fa-plus"></i> Create Badge</md-button>

    <div layout="row" layout-wrap>
        <div ng-repeat="badge in badges" layout="column">
            <badge-card my-badge="badge"></badge-card>
            <md-button ng-click="popUpGiveBadge(badge)"><i class="fa fa-share"></i> Give Badge</md-button>
            <md-button ng-if="canModifyBadge(badge)" ng-click="popUpModifyBadge(badge)"><i class="fa fa-pencil-square-o"></i> Modify Badge</md-button>
        </div>
    </div>
    <p ng-if="!badges">No badges so far.</p>

</md-content>
