<md-toolbar scroll-shrink class="md-accent">
    <div class="center">
        {{ challenge.title }} Settings
    </div>
</md-toolbar>
<md-content class="right-part">
    <form name="projectBasic" layout="column">
        <md-input-container>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" ng-model="challenge.title" required></input>
        </md-input-container>
        <div ng-messages="projectBasic.title.$error">
            <div ng-message="required">
                Title is required
            </div>
        </div>
        <textarea placeholder="A brief description of your project" rows="5" ng-model="challenge.brief" class="pretty-area"></textarea>
        <tag-manager entity="challenge" ng-model="challenge.tags"></tag-manager>
        <md-button class="md-accent"  ng-click="updateChallenge()" style="margin:auto;" ng-disabled="projectBasic.title.$invalid">
            <span class="faa-spin animated" ng-if="isBasicLoading">
                <i class="fa fa-spin"></i>
            </span>
            Update Challenge
        </md-button>
    </form>
    <section layout="column" layout-md="horizontal">
        <section flex-md layout="column">
            <header>
                <h2 class="center">Workspace's templates</h2>
            </header>
            <md-button style="width:100%" class="md-raised" ng-click="popUpTemplate()">
                New Template
            </md-button>
            <md-list>
                <md-item ng-repeat="template in templates">
                    <div class="md-tile-left">

                    </div>
                    <div class="md-tile-content">
                        <h4>{{ template.title }}</h4>
                    </div>
                    <div class="md-tile-right">
                        <md-button ng-click="removeTemplate(template,$index)">
                        <span class="faa-spin animated" ng-if="isTLoading[$index]">
                            <i fa fa-spinner></i>
                        </span>
                        <i class="fa fa-trash-o">Remove</i>
                        </md-button>
                    </div>
                </md-item>
            </md-list>
        </section>
        <section flex-md layout="column">
            <header>
                <h2 class="center">Projects</h2>
            </header>
            <md-button style="width:100%" class="md-raised" ng-click="createProject()">
                New Project
            </md-button>
        </section>
    </section>
</md-content>