<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <!--Profile basic-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="center">
                        <img ng-src="{{challenge.poster}}" ng-show="challenge.poster" class="img-rounded p" width="120px" style="height:120px">
                        <img ng-src="images/avater.jpg" ng-hide="challenge.poster" class="img-rounded" width="120px" style="height:120px">
                    </div>
                    <div class="clearfix">
                    </div>
                    <h2 class="center solid pbm" >
                        <span ng-show="challenge.title">
                            {{challenge.title}}
                        </span>
                    </h2>
                    <div ng-if="me">
                        <a class="btn btn-primary btn-block" ng-if="!isFollow" tooltip="{{'CHALLENGE_VIEW_FOLLOW_INFO'|translate}}"  ng-click="followChallenge()">{{'CHALLENGE_VIEW_FOLLOW'|translate}}({{challenge.follow}}) </a>
                        <a class="btn btn-warning btn-block" ng-if="isFollow" ng-click="unfollow(challenge.id)">{{'CHALLENGE_VIEW_UNFOLLOW'|translate}}</a>
                    </div>
                    <div class="solid center pbm ">
                        <h3>
                            <span>
                                <small class="text-muted">
                                    Projects
                                </small>
                                <br>{{challenge.projectNumber}}
                            </span>
                        </h3>
                        <h3>
                            <span>
                                <small class="text-muted">
                                    {{'FOLLOWER'|translate}}
                                </small>
                                    <br>{{challenge.followers.length}}
                            </span>
                        </h3>
                        <h3>
                            <span>
                                <small class="text-muted">
                                    created by
                                </small>
                                    <br><div owner-block="challenge.owner"></div>
                            </span>
                        </h3>
                        <d3-tag-cloud tags="d3Tags" on-click="showTag(item)" options="{ width : 150, height:200 }"></d3-tag-cloud>
                    </div>
                </div>
            </div>
        </div>
        <article class="col-md-9 col-sm-8 col-xs-12">
            <h1 ng-bind="challenge.title" class="center"></h1>
            <a ui-sref="challengeSettings.basic({ pid : challenge.accessUrl })" ng-show="isOwner" class="btn btn-default pull-right ">
                <i class="fa fa-edit"></i>Edit
            </a>
            <ul class="nav nav-pills">
                <li ui-route="/challenge/{{ challenge.accessUrl }}/list" ng-class="{active: $uiRoute}">
                    <a ui-sref="challenge.list">List</a>
                </li>
                <li ui-route="/challenge/{{ challenge.accessUrl }}/details" ng-class="{active: $uiRoute}">
                    <a ui-sref="challenge.details">Details</a>
                </li>
                <!--<li ui-route="/challenge/{{ challenge.accessUrl }}/chat" ng-class="{active: $uiRoute}">-->
                <!--<a ui-sref="challenge.chat">Chat</a>-->
                <!--</li>-->
                <li ui-route="/challenge/{{ challenge.accessUrl }}/followers" ng-class="{active: $uiRoute}">
                    <a ui-sref="challenge.followers">followers</a>
                </li>
                <li ng-if="me" ui-route="/challenge/{{ challenge.accessUrl }}/projectCreation" ng-class="{active: $uiRoute}">
                    <a ui-sref="challenge.projectCreation">Create New Project</a>
                </li>
            </ul>
            <br>

            <div ui-view="challengeView">
            </div>
        </article>
    </div>
</div>