<section class="row">
    <section class="col-md-2">
        <h3 class="dashed pas"><i class="icon-comments-alt mrm"></i>
            {{'PROJECT_VIEW_DISCUSS'|translate}}
        </h3>
        <blockquote class="text-muted" >
            {{'PROJECT_VIEW_DISCUSS_INFO'|translate}}
        </blockquote>
        <div class="list-group" ng-if="me.profile">
            <a href="" class="btn btn-block btn-info" ng-click="popUpTopic()">
                {{'PROJECT_VIEW_ADD_DISCUSS'|translate}}
            </a>
        </div>
        </div>
        <div class="list-group" ng-repeat="topic in topics" ng-class="{ 'owner-topic' : topic.owner == project.owner, 'member-topic' : topicsCss[$index] ==  'member', 'follower-topic' : topicsCss[$index] ==  'follower', 'visitor-topic' : topicsCss[$index] ==  'visitor' }">
            <a ui-sref="challenge.topic.details.discussion({ tid : $index })" class="list-group-item" ui-route="/project/{{ projectId }}/topic/{{ topicId }}"  ng-class="{ active : topicId == $index }" ng-bind="topic.title"></a>
        </div>
    </section>
    <section class="col-md-10">
        <div ui-view="topicView">

        </div>
    </section>
</section>
