<material-content layout-vertical layout-fill>
    <header layout="vertical" class="challenge-header" style="background-image: url({{ challenge.banner || 'http://placehold.it/900x150'  }}) !important;" >
        <h1>
            {{ challenge.title }}
        </h1>
        <div layout="horizontal" flex>
            <span>
                {{ challenge.followers.length }}
            </span>
            <span class="text-muted">
                &nbsp;followers
            </span>
            <span>
                . {{ challenge.projects.length }}
            </span>
            <span class="text-muted">
                &nbsp;projects
            </span>
            <!--<span ng-if="challenge.startDate < now && challenge.endDate > now" >-->
                <!--<timer end-time="challenge.endDate" >End in :{{days}} d, {{hours}} : {{minutes}} : {{seconds}}</timer>-->
            <!--</span>-->
            <!--<span ng-if="challenge.startDate > now" >-->
                <!--<timer end-time="challenge.endDate" >Start in : {{days}} d, {{hours}} : {{minutes}} : {{seconds}}</timer>-->
            <!--</span>-->
        </div>
        <div ng-if="currentUser">
            <material-button  ng-if="!isOwner && !isFollow"  ng-click="follow()" class="material-button-raised material-button-colored rotation">
                <i class="fa fa-thumbs-up"></i>
                follow
            </material-button>
            <material-button  ng-if="!isOwner && isFollow" ng-click="unfollow()" class="material-button-raised material-button-colored rotation">
                <i class="fa fa-thumbs-down" ></i>
                unfollow
            </material-button>
        </div>
    </header>
    <section class="pad-left" style="padding-top:10px;">
        <showtags entity="challenge"></showtags>
    </section>
    <section style="background-color:rgb(240,241,241);" layout="vertical">
        <section layout="vertical"  layout-md="horizontal">
            <div class="pad-left" flex style="min-height:400px; border-right:solid 1px black;margin-top:30px;">
                <article ng-bind-html="challenge.home">

                </article>
            </div>
            <div style="margin-top: 30px;" flex>
                <div ng-include="'modules/challenge/templates/chat.tpl.html'"></div>
            </div>
        </section>
        <div class="row center" style="padding-top: 30px;padding-bottom: 30px;">
            <material-button  ng-if="currentUser"  ng-click="participate()" class="material-button-raised">
                Participate to this challenge
            </material-button>
        </div>
    </section>
    <section >
        <project-card inline-block project-id="project" ng-repeat="project in challenge.projects"></project-card>
    </section>
    <!--<section layout="horizontal" layout-align="space-around">-->
        <!--<user-block ng-repeat="follower in followers" user-id="follower"></user-block>-->
    <!--</section>-->
</material-content>