<!--<tabset justified="true" type="pills">-->
    <!--<tab heading="Discussion">-->
        <!--<div class="pull-right">-->
            <!--<span class="text-muted ">{{myTopic.createDate|timeago}} by</span> <a ng-href="user/{{myTopic.owner}}" class="">{{user[myTopic.owner].username}}</a>-->
        <!--</div>-->
        <!--<div class="media pam">-->
            <!--<div owner-block="myTopic.owner" class="pull-left"></div>-->
            <!--<div class="media-body">-->
                <!--<p ng-bind-html="myTopic.text"></p>-->
            <!--</div>-->
            <!--<div class="clearfix dashed ptl"></div>-->
        <!--</div>-->
        <!--<div comments="{type:'pforums'}" topicid="{{myTopic.id}}"></div>-->
    <!--</tab>-->
    <!--<tab heading="Resources">-->
        <!--<section class="row">-->
            <!--<section class="col-md-6">-->
                <!--<section class="row">-->
                    <!--<h3 class="center">Files</h3>-->
                    <!--<div class="list-group" >-->
                        <!--<cri-uploader></cri-uploader>-->
                    <!--</div>-->
                    <!--<br/>-->
                    <!--<section class="row">-->
                        <!--<span ng-repeat="file in files">-->
                            <!--<i class="fa {{ file.class }} fa-2x icon-file" ng-class="{ 'file-selected' : file.id == fileDetails.id  }" ng-click="showFileDetails(file)" style="display : inline-block" popover-trigger="mouseenter" popover-title="{{ file.originalFilename }}" Popover-animation="true" popover="{{ file.ownerName }}"></i>-->
                        <!--</span>-->
                    <!--</section>-->
                <!--</section>-->
                <!--<section class="row center" ng-if="fileDetails">-->
                    <!--<a ng-href="{{ fileDetails.url }}" class="pull-right" target="_blank" tooltip="download file">-->
                        <!--<i class="my-btn fa fa-cloud-download fa-2x"></i>-->
                    <!--</a>-->
                    <!--<p ng-bind="fileDetails.description"></p>-->
                    <!--&lt;!&ndash;<button href="" class="btn btn-default">open in Google Docs</button>&ndash;&gt;-->
                    <!--<img ng-src="{{ fileDetails.url }}" width="100%" ng-if="isImage(fileDetails)"/>-->
                    <!--<video ng-src="{{ fileDetails.url }}" ng-if="isVideo(fileDetails)"></video>-->
                    <!--<pdf-js url="fileDetails.url" width="100%" height="400px" ng-if="isPdf(fileDetails)"></pdf-js>-->
                    <!--<g-doc-preview ng-if="isOfficeDoc(fileDetails)" doc-url="fileDetails.url"></g-doc-preview>-->
                <!--</section>-->
            <!--</section>-->
            <!--<section class="col-md-6">-->
                <!--<h3 class="center">Links</h3>-->
                <!--<div>-->
                    <!--<textarea ng-model="url.description" style="width:100%;" placeholder="description"></textarea>-->
                    <!--<input type="text" class="form-control" placeholder="here you can enter the title of the resource" ng-model="url.title" required/>-->
                    <!--<div class="input-group">-->
                        <!--<input type="url" class="form-control" placeholder="here you can add a url resource" ng-model="url.text" required>-->
                        <!--<span class="input-group-btn">-->
                            <!--<button class="btn btn-default" type="button" ng-click="addUrl(url)">Add</button>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<br/>-->
                <!--<div class="list-group" ng-repeat="url in myTopic.urls">-->
                    <!--<a ng-href="{{ url.text }}" class="list-group-item" ng-bind="url.title" target="_blank" popover-trigger="mouseenter" Popover-animation="true" popover="{{ url.description }}"></a>-->
                <!--</div>-->
            <!--</section>-->
        <!--</section>-->
    <!--</tab>-->
<!--</tabset>-->

<material-tabs selected="0" class="material-theme-light-blue">
    <material-tab label="<i class='fa fa-comments fa-2x'></i>" ui-sref="challenge.topic.details.discussion({ tid : tid })" class="material-theme-light-blue"></material-tab>
    <material-tab label="<i class='fa fa-file fa-2x'></i>" ui-sref="challenge.topic.details.resources({ tid : tid })" class="material-theme-light-blue"></material-tab>
</material-tabs>
<section ui-view="topicDetailsView"></section>
