<h2 class="center">Project lists</h2>
<div class="row" style="padding-left:50px; padding-right: 50px;">
    <div class="row">
        <div class="col-xs-offset-10 col-xs-2" >
            <i class="fa fa-plus fa-2x my-btn" tooltip="Suggest a project" ui-sref="challenge.projectCreation"  ng-if="me"></i>
            <span class="material-input-group material-input-group-theme-light-blue" style="display: inline-block;">
                <label for="filterProjects">
                    <i class="fa fa-search fa-2x"></i>
                    filter by title
                </label>
                <input id="filterProjects" type="search" ng-model="search.title" autocomplete="false">
            </span>
            <i class="fa fa-plus fa-2x my-btn" tooltip="Suggest a project" ui-sref="projectsuggest"  ng-if="isLogged"></i>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" >
        <ul class="media-list" >
            <li class="media edit-menu" ng-repeat="project in projects | filter:search track by $index">
                <a ui-sref="project.details({ pid : project.accessUrl })" class="pull-left ">
                    <img ng-src="{{project.poster || 'http://placehold.it/90x90'}}" class="media-object img-rounded" style="height:90px;max-width: 100%">
                </a>
                <article class="media-body">
                    <h1 class="media-heading">
                        <a ui-sref="project.details({ pid : project.accessUrl })">{{project.title}}</a>
                    </h1>
                    <time class="pull-right">
                        created by : <span owner-block="project.owner"></span>
                    </time>
                    <div showtags="" entity="project" style="font-size:1.5em;"></div>
                </article>

            </li>
        </ul>
        <div class="clearfix"></div>
        <button ng-show="projects.length>=4&&!isEnd" ng-click="loadMoreprojects(noPage)" class="btn  btn-default col-xs-12">{{'BTN_MORE'|translate}}</button>
    </div>
    <div ng-hide="projects" class="alert alert-info">{{'project_LIST_NORESULT'|translate}}</div>
    <div ng-show="isEnd&&projects.length>=4"  class="alert alert-info">{{'project_LIST_END'|translate}}</div>
</div>