<!--<div class="row mtl"></div>-->
<!--<div class="text-muted" ng-hide="followers" >Nobody follow yet.</div>-->
<!--<ul class="list-unstyled" ng-show="followers">-->
    <!--<div ng-switch="user.isLoggedIn()">-->
        <!--<div ng-switch-when="true">-->
            <!--<li ng-repeat="follower in followers" class="col-md-6 col-sm-6 col-xs-12" >-->
                <!--<div user-block="follower"></div>-->
            <!--</li>-->
        <!--</div>-->
        <!--<div ng-switch-default>-->
            <!--<li ng-repeat="follower in followers" class="pas inline" >-->
                <!--<div owner-block="follower"></div>-->
            <!--</li>-->
        <!--</div>-->
    <!--</div>-->
<!--</ul>-->

<h2 class="center">Followers</h2>
<div class="row" style="padding-left:50px; padding-right: 50px;">
    <ul class="media-list" >
        <li class="media edit-menu" ng-repeat="follower in followers | filter:search track by $index">
            <user-list user-id="{{follower}}"></user-list>

        </li>
    </ul>
    <button ng-show="followers.length>=4&&!isEnd" ng-click="loadMorefollowers(noPage)" class="btn  btn-default col-xs-12">{{'BTN_MORE'|translate}}</button>
    </div>
    <div ng-hide="followers" class="alert alert-info">No Followers yet</div>
    <div ng-show="isEnd&&followers.length>=4"  class="alert alert-info">End !</div>
</div>