<md-content>
    <md-content layout="row" layout-align="center" layout-margin>
        <section class="md-whiteframe-z2" flex-gt-sm="95" layout="column">
            <md-toolbar scroll-shrink layout-padding>
                <div layout="column" class="content">
                    <h1>
                        {{ challenge.title }}
                    </h1>
                </div>

                <div ng-if="isFollow">
                    <i class="fa fa-star baseColor"></i> Following
                </div>

                <md-button class="md-fab md-raised" ng-click="follow()" style="position:absolute; right:20px; z-index: inherit" ng-class="{ 'md-accent' : isFollow }" ng-if="currentUser && !isOwner">
                    <i class="fa fa-thumbs-up"></i>
                </md-button>
            </md-toolbar>

            <md-content layout="column" layout-fill layout-padding>

                <div layout="row" layout-align="center center">
                    <img ng-if="challenge.banner" src="{{ challenge.banner }}" >
                </div>

                <br>

                <section class="challenge-home" layout="column">
                    <article class="html-content" flex ng-bind-html="challenge.home"></article>
                    <div class="participate-btn">
                        <md-button ng-if="currentUser" ng-click="participate()" class="md-raised md-button-colored">
                            Create Project
                        </md-button>
                    </div>
                </section>

                <br>

                <div ng-if="challenge.showProgress" layout="row" layout-align="center center">
                    <div class="c100 p{{ challenge.progress }} small">
                        <span>{{ challenge.progress }}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>

                <div layout="column">
                    <md-button ui-sref="challengeAdmin({ cid : challenge._id })" ng-if="isOwner">
                        <i class="fa fa-pencil-square-o baseColor"></i> Edit
                    </md-button>

                    <div layout="row">
                        <div>
                            <span>
                                {{ challenge.followers.length }}
                            </span>
                            <span class="text-muted">
                                &nbsp;followers
                            </span>
                            <span>
                                {{ challenge.projects.length }}
                            </span>
                            <span class="text-muted">
                                &nbsp;projects
                            </span>
                        </div>
                    </div>
                </div>

                <div flex>
                    <showtags entity="challenge"></showtags>

                    <list-notes challenge="challenge" current-user="currentUser"></list-notes>

                    <h3>Related Projects</h3>

                    <md-grid-list md-cols="3" md-row-height="400px">
                        <md-grid-tile ng-repeat="project in challenge.projects">
                            <project-card project-id="project" style="height: 400px;"></project-card>
                        </md-grid-tile>
                    </md-grid-list>

                    <h3>Related Ideas</h3>

                    <md-grid-list md-cols="3" md-row-height="400px">
                        <md-grid-tile ng-repeat="idea in challenge.ideas">
                            <idea-card idea-id="idea" ng-repeat="idea in challenge.ideas" style="height: 400px;"></idea-card>
                        </md-grid-tile>
                    </md-grid-list>
                </div>
            </md-content>
        </section>
    </md-content>
</md-content>