<section style="min-height:400px;" ng-controller="chatCtrl" layout="vertical">
    <div class="chat-zone" layout="vertical">
        <p ng-repeat="message in messages" layout="horizontal">
            <user-info user-id="message.owner"></user-info>
            &nbsp;
            :
            &nbsp;
            <span flex>
                {{ message.content }}
            </span>
            <i class="fa fa-times my-btn"></i>
        </p>
    </div>
    <div ng-if="currentUser" layout="horizontal" layout-align="start end">
        <material-input-group flex>
            <label for="message">Message</label>
            <material-input id="message" type="text" ng-model="message.content" />
        </material-input-group>
        <material-button ng-click="postMessage(message)">Send</material-button>
    </div>
</section>