<div class="pull-right">{{ 'BTN_COMMENT' | translate }}({{comments.length}})</div>
<a class="btn btn-default pull-left" ng-click="toggleComment=!toggleComment">comment</a>
<div class="clearfix"></div>
<div ng-init="toggleComment=true"  collapse="toggleComment" >
    <text-angular ng-model="commentValue" placeholder="I think..." required ></text-angular>
    <a class="btn btn-default" ng-click="addComment()">{{ 'BTN_COMMENT' | translate }}</a>
</div>
<div class="comments">
    <div ng-repeat="comment in comments track by $index" class="pam">
        <div owner-block="comment.owner" class="pull-left mrm"></div>
        <div class="pas text-muted" style="background: #f2fbf2;">
            <a href="user/{{comment.owner}}">{{user[comment.owner].username}}</a> <a class="pull-right" ng-click="removeComment(comment.id,$index)"><i class="icon-remove"></i></a><span class="text-muted pull-right">{{comment.createDate|timeago}}</span>
        </div>
        <div class="clearfix"></div>
        <div ng-show="comment.parent" class="mll mtm">
            <blockquote ><div ng-switch on="comment.parent" class="inline mrm"><div ng-switch-default><div user-info="comment.parent.owner" ></div></div></div> <span class="text-muted pull-right">{{comment.parent.createDate|timeago}}</span><span ng-bind-html="comment.parent.displayText"></span></blockquote>
        </div>
        <div class="pam" ng-bind-html="comment.displayText"></div>
        <a class="pull-right " href="" ng-click="comment.isReply=!comment.isReply">Reply</a>
        <div class="clearfix"></div>
        <div ng-init="comment.isReply=true"  collapse="comment.isReply" >
            <div  class="mts  pam">
                <text-angular ng-model="comment.replyComment" placeholder="Reply..." ></text-angular>
                <br><a class="btn btn-default" ng-click="replyComment(comment.id,$index)">Reply</a>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
